[submodule "src/3rd_party-static/jsoncpp"]
	path = src/3rd_party-static/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "tools/rpc_spec"]
	path = tools/rpc_spec
	url = https://github.com/ydementieiev/rpc_spec.git
	branch = feature/fuel_info_related_vehicle_data
