*.a
#*.cmake
bin
build
CMakeFiles
*-prefix
Makefile
CMakeCache.txt
CMakeLists.txt.user
install_manifest.txt
*.o
*.lo
.libs
*.la
*.kdev4
*.*~

# ctags-generated
tags
# Mac OS Specific
.DS_Store
# Android specific
*.iml
*.orig
.idea
.gradle
local.properties
mobile/android/FordSnadbox
