env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - LD_LIBRARY_PATH=.
   - secure: "YrUVgA4/Vs4YPINdq1hwc5Mv2SZEtq/XY/+Wg0hC6lpicRBLSiQEgsqmxZc0/OFIbxzTYSE080X8SA6DXp+A0MEVu94zYr9lS/jJ5cDi/2Cl8QV+S/q0nlvr8aJEmCjOFDQTvWMp32ajBIo9HKsN9WrfK6nHuGhBBkZHPjCiVSE="
language: cpp
dist: trusty
before_install:
  - sudo apt-get install -y libavahi-client-dev libssl-dev libbluetooth3 libbluetooth-dev bluez-tools libudev-dev libgtest-dev
  - sudo add-apt-repository ppa:kalakris/cmake -y
  - sudo apt-get update -q
  - sudo apt-get install -y cmake
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -qq update
  - sudo apt-get -qq install g++-4.8
  - sudo rm /usr/bin/gcc
  - sudo ln -s /usr/bin/gcc-4.8 /usr/bin/gcc
  - sudo rm /usr/bin/g++
  - sudo ln -s /usr/bin/g++-4.8 /usr/bin/g++
addons:
  apt:
    sources:
    - travis-ci/sqlite3
    packages:
    - sqlite3
  coverity_scan:
    project:
      name: "smartdevicelink/sdl_core"
      description: "Build submitted via Travis CI"
    notification_email: jack@livio.io
    build_command_prepend: "mkdir build && cd build && cmake ../ -DBUILD_TESTS=ON"
    build_command:   "make install"
    branch_pattern: coverity
script: 
  - sudo ldconfig
  - cd build
  - travis_wait make test