language: cpp
dist: trusty
sudo: required
only:
  - master
  - develop
  - \/feature\/.+
  - \/fix\/.+
  - \/hotfix\/.+
  - \/release\/.+

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test

before_install:
  - sudo apt-get update
  - sudo apt-get install libssl-dev libbluetooth3 libbluetooth-dev libudev-dev cmake html2text lcov git cmake automake1.11 build-essential libavahi-client-dev sqlite3 libsqlite3-dev libgtest-dev bluez-tools libpulse-dev libusb-1.0.0-dev cppcheck
  - sudo apt-get install -f clang-format-3.6

script:
  - cppcheck --force -isrc/3rd_party -isrc/3rd_party-static --quiet --error-exitcode=1 src
  - ./tools/infrastructure/check_style.sh
  - mkdir build && cd build
  - cmake ../ -DBUILD_TESTS=ON
  - make install-3rd_party && make -j `nproc` install && sudo ldconfig 
  - make test
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - CTEST_OUTPUT_ON_FAILURE=TRUE
  - LD_LIBRARY_PATH=.
