.helpmode .rs-item.disabled{
    border-bottom-color: transparent;
}

.helpmode .helpmode_box_shadow {
	border-radius: 0 !important;
	-webkit-box-shadow: inset 0 0 6px 3px #f3c800;
	box-shadow: inset 0 0 6px 3px #f3c800;
    z-index: 5;
    cursor: pointer;
}

.helpmode .helpmode_box_shadow .disabled{
    cursor: pointer !important;
}

.helpmode .faq_show {
	left: 182px !important;
}


/******************* For Settings.Help.Where Am I Report Menu*******************/

.helpmode #settings_help_whereAmI.no-sd {
	background: #000;
}


/********* Media Option Popup **********/
.helpmode .optionPopup {
	visibility: hidden !important;
}

/* Climate module */

.helpmode #climate_storeTemp {
    visibility: hidden;
}

#app:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    -webkit-transform: translateX(-2000px);
}
#app.helpmode:after{
    -webkit-transform: translateX(0);
    opacity: .5;
}
.shadow-presets{
    -webkit-transform: translateX(-2000px);
}
.helpmode .shadow-presets{
    -webkit-transform: translateX(0);
    position: absolute;
    top:0;
}
.helpmode #help-mode-presets-layer{
    width: 468px;
    height: 100px;
}
.helpmode #shadow-home-presets{
    width: 330px;
    height: 81px;
}