#navigation {
    width: 800px;
    height: 480px;
    background: url(../images/nav/bg.png) no-repeat;
}

#nav_bg.view2 {
    background: url(../images/nav/green_bg.png) repeat-x;
}

#nav_bg.view3 {
    background: url(../images/nav/green_bg.png) repeat-x;
}

#nav_map_img {
    width: 800px;
    height: 422px;
    background: url(../map/map2d_north_zoom_0.png) no-repeat;
    top: 10px;
}

#nav_bg.view2 #street, #nav_bg.view3 #street {
    display: none;
}

.zoom_45, .zoom_72 {
    background: url(../map/map2d_north_zoom_1.png) no-repeat !important;
}

.zoom_35, .zoom_56 {
    background: url(../map/map2d_north_zoom_2.png) no-repeat !important;
}

.zoom_25, .zoom_40 {
    background: url(../map/map2d_north_zoom_3.png) no-repeat !important;
}

.type2 {
    background: url(../map/map3d_zoom_0.png) no-repeat !important;
}

.type2.zoom_45, .type2.zoom_72 {
    background: url(../map/map3d_zoom_1.png) no-repeat !important;
}

.type2.zoom_35, .type2.zoom_56 {
    background: url(../map/map3d_zoom_2.png) no-repeat !important;
}

.type2.zoom_25, .type2.zoom_40 {
    background: url(../map/map3d_zoom_3.png) no-repeat !important;
}

.type1 {
    background: url(../map/map2d_heading_up_zoom_0.png) no-repeat !important;
}

.type1.zoom_45, .type1.zoom_72 {
    background: url(../map/map2d_heading_up_zoom_1.png) no-repeat !important;
}

.type1.zoom_35, .type1.zoom_56 {
    background: url(../map/map2d_heading_up_zoom_2.png) no-repeat !important;
}

.type1.zoom_25, .type1.zoom_40 {
    background: url(../map/map2d_heading_up_zoom_3.png) no-repeat !important;
}

#nav.view3 .navbar {
    display: block !important;
}

#mi {
    font-size: 26px;
    font-weight: bold;
    left: 110px;
    top: 65px;
}

#nav_location {
    font-size: 26px;
    font-weight: bold;
    left: 265px;
    top: 65px;
    width: 278px;
    text-align: center;
}

#nav_dest {
    background: url(../images/nav/dest_bg.png) no-repeat;
    width: 730px;
    height: 310px;
    left: 65px;
    top: 105px;
}

#nav_dest ul.r-block {
    list-style: none;
    position: relative;
    float: left;
    width: 310px;
    height: 250px;
    top: 60px;
    margin-left: 20px
}

#nav_dest ul.l-block {
    list-style: none;
    position: relative;
    float: left;
    width: 320px;
    height: 250px;
    top: 60px;
    margin-left: 50px
}

#nav_dest ul li {
    line-height: 50px;
    font-size: 20px;
}

/************ Navigation Destination ************/
.keyboard .space {
    left: 220px;
    top: 249px;
    white-space: nowrap;
}

#navigation .sortby {
    white-space: nowrap;
    left: 276px;
    top: 9px;
    width: 150px;
    text-align: right;
}

/************ Destination My Home ************/
#navigation_destination_myHome_view {
    width: 800px;
    height: 432px;
    background: url(../map/navi_destination_MyHome_bg.png) no-repeat;
    top: 0;
}

#navigation_destination_myHome_view .content {
    width: 800px;
}

#navigation_destination_myHome_view .view {
    top: 180px;
    left: 72px;
    text-align: center;
    width: 63px;
}

#navigation_destination_myHome_view .set_a_dest {
    top: 385px;
    left: 17px;
}

#navigation_destination_myHome_view .dest {
    left: 603px;
    top: 19px;
}

#navigation_destination_myHome_view .set_as_way {
    top: 374px;
    left: 134px;
    width: 130px;
    text-align: center;
}

#navigation_destination_myHome_view .my_home {
    left: 490px;
    top: 151px;
}

#navigation_destination_myHome_view .rd {
    left: 490px;
    top: 201px;
}

#navigation_destination_myHome_view .menu {
    left: 712px;
    top: 19px;
}

#navigation_destination_myHome_view .dial {
    left: 680px;
    top: 249px;
}

#navigation_destination_myHome_view .edit {
    left: 601px;
    top: 354px;
    width: 138px;
    text-align: center;
}

#navigation_destination_myHome_view .delete {
    left: 461px;
    top: 354px;
    width: 138px;
    text-align: center;
}

/********* Navigation Destination Favorites **********/
#view_navi_destination_favorites {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_Favorites_bg.png) no-repeat;
}

#view_navi_destination_favorites .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_favorites .i1 {
    top: 57px;
    left: -9px;
}

#view_navi_destination_favorites .i2 {
    top: 117px;
    left: -9px;
}

#view_navi_destination_favorites .az {
    top: 12px;
    left: 472px;
    white-space: nowrap;
}

#view_navi_destination_favorites .date {
    top: 12px;
    left: 566px;
    white-space: nowrap;
}

#view_navi_destination_favorites .edit {
    top: 56px;
    left: 437px;
    width: 98px;
    white-space: nowrap;
    text-align: center;
}

#view_navi_destination_favorites .delete1 {
    top: 57px;
    left: 538px;
    width: 96px;
    white-space: nowrap;
    text-align: center;
}

#view_navi_destination_favorites .delete2 {
    top: 115px;
    left: 538px;
    width: 96px;
    white-space: nowrap;
    text-align: center;
}

#view_navi_destination_favorites .add {
    top: 116px;
    left: 437px;
    width: 98px;
    white-space: nowrap;
    text-align: center;
}

#view_navi_destination_favorites .myhome {
    white-space: nowrap;
    left: 80px;
    top: 57px;
}

/********* Navigation Destination Previous **********/
#view_navi_destination_previous {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_Previous_bg.png) no-repeat;
}

#view_navi_destination_previous .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_previous .i1 {
    top: 57px;
    left: -9px;
}

#view_navi_destination_previous .i2 {
    top: 117px;
    left: -9px;
}

#view_navi_destination_previous .date {
    top: 12px;
    left: 464px;
    white-space: nowrap;
}

#view_navi_destination_previous .city {
    top: 12px;
    left: 566px;
    white-space: nowrap;
}

#view_navi_destination_previous .delete1 {
    top: 57px;
    left: 538px;
    width: 96px;
    white-space: nowrap;
    text-align: center;
}

#view_navi_destination_previous .delete2 {
    top: 115px;
    left: 538px;
    width: 96px;
    white-space: nowrap;
    text-align: center;
}

#view_navi_destination_previous .add {
    left: 470px;
    top: 116px;
    white-space: nowrap;
}

#view_navi_destination_previous .milerd {
    white-space: nowrap;
    left: 31px;
    top: 58px;
}

#view_navi_destination_previous .southfield {
    white-space: nowrap;
    left: 34px;
    top: 116px;
}

/********* Navigation Destination POI **********/
#view_navi_destination_poi {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_POI_bg.png) no-repeat;
}

#view_navi_destination_poi .content {
    top: 118px;
    left: 99px;
}

#view_navi_destination_poi .sa {
    left: -93px;
    top: 58px;
    width: 146px;
    text-align: center;
}

#view_navi_destination_poi .sbn {
    width: 145px;
    left: -92px;
    top: 104px;
    text-align: center;
}

#view_navi_destination_poi.fr .sbn {
    left: -67px;
    width: 94px;
}

#view_navi_destination_poi .sbp {
    width: 148px;
    left: -92px;
    top: 161px;
    text-align: center;
}

#view_navi_destination_poi.fr .sbp {
    line-height: 19px;
    top: 155px;
}

#view_navi_destination_poi .recent {
    left: 554px;
    top: 12px;
}

#view_navi_destination_poi .all {
    left: 437px;
    top: 12px;
    width: 99px;
    text-align: center;
}

#view_navi_destination_poi .fav {
    left: 337px;
    top: 12px;
    text-align: center;
    width: 97px;
}

#view_navi_destination_poi .cat {
    left: 220px;
    top: 14px;
}

#view_navi_destination_poi .fs {
    left: 116px;
    top: 58px;
    white-space: nowrap;
}

#view_navi_destination_poi .fin {
    left: 116px;
    top: 108px;
    white-space: nowrap;
}

#view_navi_destination_poi .ar {
    left: 116px;
    top: 158px;
    white-space: nowrap;
}

#view_navi_destination_poi .acc {
    left: 116px;
    top: 208px;
    white-space: nowrap;
}

#view_navi_destination_poi .p {
    left: 116px;
    top: 258px;
    white-space: nowrap;
}

#view_navi_destination_poi .edit1 {
    left: 535px;
    top: 55px;
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

#view_navi_destination_poi .edit2 {
    left: 535px;
    top: 105px;
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

#view_navi_destination_poi .edit3 {
    left: 535px;
    top: 155px;
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

#view_navi_destination_poi .edit4 {
    left: 535px;
    top: 205px;
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

#view_navi_destination_poi .edit5 {
    left: 535px;
    top: 255px;
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

/********* Navigation Destination Street Address **********/
#view_navi_destination_streetAddress {
    top: 0;
    width: 800px;
    height: 480px;
    background: url(../images/nav/dest/navi_destination_StreetAddress_bg.png) no-repeat;
}

#view_navi_destination_streetAddress .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_streetAddress .backButton {
    top: 11px;
}

#view_navi_destination_streetAddress .voiceButton {
    top: 80px;
}

#view_navi_destination_streetAddress .number {
    left: -14px;
    top: -24px;
    white-space: nowrap;
}

#view_navi_destination_streetAddress .city {
    left: 3px;
    top: 21px;
    white-space: nowrap;
}

#view_navi_destination_streetAddress .street {
    left: 191px;
    top: -24px;
    white-space: nowrap;
    width: 108px;
    text-align: center;
}

#view_navi_destination_streetAddress .de {
    left: 88px;
    top: 30px;
    white-space: nowrap;
}

#view_navi_destination_streetAddress .l26 {
    left: 350px;
    top: 30px;
    white-space: nowrap;
}

#view_navi_destination_streetAddress .sp {
    left: 416px;
    top: 29px;
    width: 108px;
    text-align: center;
    white-space: nowrap;
}

#view_navi_destination_streetAddress .mi {
    left: 540px;
    top: 30px;
    white-space: nowrap;
}

/********* Navigation Destination Intersection **********/
#view_navi_destination_intersection {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_Intersection_bg.png) no-repeat;
}

#view_navi_destination_intersection .voiceButton {
    top: 80px;
}

#view_navi_destination_intersection .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_intersection .street1 {
    left: -14px;
    top: -24px;
    white-space: nowrap;
}

#view_navi_destination_intersection .city {
    top: 21px;
    left: 3px;
}

#view_navi_destination_intersection .street2 {
    left: 326px;
    top: -24px;
    white-space: nowrap;
}

#view_navi_destination_intersection .de {
    left: 88px;
    top: -24px;
    white-space: nowrap;
}

#view_navi_destination_intersection .l26 {
    left: 238px;
    top: -25px;
    white-space: nowrap;
    font-size: 19px;
}

#view_navi_destination_intersection .sp {
    left: 416px;
    top: 29px;
    width: 108px;
    text-align: center;
    white-space: nowrap;
}

#view_navi_destination_intersection .mi {
    left: 540px;
    top: 30px;
    white-space: nowrap;
}

#view_navi_destination_intersection .q {
    left: -67px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .w {
    left: 4px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .e {
    left: 79px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .r {
    left: 150px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .t {
    left: 222px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .y {
    left: 295px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .u {
    left: 367px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .i {
    left: 445px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .o {
    left: 511px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .p {
    left: 584px;
    top: 109px;
    white-space: nowrap;
}

#view_navi_destination_intersection .a {
    left: -29px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .s {
    left: 44px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .d {
    left: 114px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .f {
    left: 188px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .g {
    left: 258px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .h {
    left: 332px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .j {
    left: 405px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .k {
    left: 478px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .l {
    left: 550px;
    top: 155px;
    white-space: nowrap;
}

#view_navi_destination_intersection .z {
    left: 7px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .x {
    left: 79px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .c {
    left: 149px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .v {
    left: 223px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .b {
    left: 293px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .n {
    left: 366px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .m {
    left: 439px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .and {
    left: 656px;
    top: 204px;
    white-space: nowrap;
}

#view_navi_destination_intersection .dash {
    left: 581px;
    top: 203px;
    white-space: nowrap;
}

#view_navi_destination_intersection .space {
    left: 220px;
    top: 249px;
    white-space: nowrap;
}

#view_navi_destination_intersection .ch {
    left: 499px;
    top: 244px;
    white-space: nowrap;
}

#view_navi_destination_intersection .abc {
    left: 357px;
    top: 244px;
    white-space: nowrap;
}

#view_navi_destination_intersection .n123 {
    left: 429px;
    top: 250px;
    white-space: nowrap;
}

/********* Navigation Destination City Center **********/
#view_navi_destination_cityCenter {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_CityCenter_bg.png) no-repeat;
}

#view_navi_destination_cityCenter .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_cityCenter .state {
    left: 416px;
    top: 29px;
    width: 108px;
    text-align: center;
    white-space: nowrap;
}

#view_navi_destination_cityCenter .n26 {
    left: 350px;
    top: 30px;
}

#view_navi_destination_cityCenter .city {
    left: -35px;
    top: 25px;
    width: 109px;
    text-align: center;
}

#view_navi_destination_cityCenter .pointer {
    left: 90px;
    top: 29px;
}

#view_navi_destination_cityCenter .mi {
    left: 540px;
    top: 30px;
    white-space: nowrap;
}

/********* Navigation Destination Map **********/
#view_navi_destination_map {
    width: 800px;
    height: 432px;
    background: url(../map/navi_destination_Map_bg.png) no-repeat;
    top: 0;
}

#view_navi_destination_map_destination_button {
    left: 565px;
    top: 5px;
    height: 23px;
    white-space: nowrap;
    width: 113px;
    text-align: center;
    padding: 14px 0 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom: 1px solid #393939;
    border-right: none;
}

#view_navi_destination_map .content {
    left: 95px;
    top: 60px;
}

#view_navi_destination_map .view {
    left: -14px;
    top: 120px;
}

#view_navi_destination_map .set_as_dest {
    top: 325px;
    left: -90px;
    width: 127px;
    text-align: center;
}

#view_navi_destination_map .saw {
    top: 314px;
    left: 41px;
    width: 127px;
    text-align: center;
}

#view_navi_destination_map .saf {
    top: 314px;
    left: 171px;
    width: 127px;
    text-align: center;
}

#view_navi_destination_map .poi {
    top: 315px;
    left: 322px;
    width: 83px;
    text-align: center;
}

#view_navi_destination_map .tf {
    top: 325px;
    left: 445px;
    width: 99px;
    text-align: center;
}

#view_navi_destination_map.fr .tf {
    top: 314px;
}

#view_navi_destination_map .menu {
    left: 615px;
    top: -41px;
    white-space: nowrap;
}

#view_navi_destination_map .chestnut {
    left: 70px;
    top: 12px;
    white-space: nowrap;
    width: 470px;
    text-align: center;
}

/********* Navigation Destination Previous Starting Points **********/
#view_navi_destination_previousStartingsPoint {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_PreviousStartPoint_bg.png) no-repeat;
}

#view_navi_destination_previousStartingsPoint .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_previousStartingsPoint .i1 {
    top: 57px;
    left: -9px;
}

#view_navi_destination_previousStartingsPoint .i2 {
    top: 117px;
    left: -9px;
}

#view_navi_destination_previousStartingsPoint .date {
    top: 12px;
    left: 465px;
    white-space: nowrap;
}

#view_navi_destination_previousStartingsPoint .city {
    top: 12px;
    left: 566px;
    white-space: nowrap;
}

#view_navi_destination_previousStartingsPoint .delete1 {
    top: 57px;
    left: 557px;
    white-space: nowrap;
}

#view_navi_destination_previousStartingsPoint .delete2 {
    top: 115px;
    left: 557px;
    white-space: nowrap;
}

#view_navi_destination_previousStartingsPoint .add {
    left: 470px;
    top: 116px;
    white-space: nowrap;
}

#view_navi_destination_previousStartingsPoint .milerd {
    white-space: nowrap;
    left: 31px;
    top: 58px;
}

#view_navi_destination_previousStartingsPoint .southfield {
    white-space: nowrap;
    left: 34px;
    top: 116px;
}

/********* Navigation Destination Freeway **********/
#view_navi_destination_freeWay {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_Freeway_bg.png) no-repeat;
}

#view_navi_destination_freeWay .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_freeWay .state {
    left: 416px;
    top: 29px;
    width: 108px;
    text-align: center;
    white-space: nowrap;
}

#view_navi_destination_freeWay .n26 {
    left: 350px;
    top: 29px;
}

#view_navi_destination_freeWay .freeway {
    left: -16px;
    top: 28px;
}

.fr #view_navi_destination_freeWay .freeway {
    left: -22px;
}

#view_navi_destination_freeWay .pointer {
    left: 90px;
    top: 29px;
}

#view_navi_destination_freeWay .mi {
    left: 540px;
    top: 30px;
    white-space: nowrap;
}

/********* Navigation Destination Latitude **********/
#view_navi_destination_latitudeLongitude {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_LatitudeLongitude_bg.png) no-repeat;
}

#view_navi_destination_latitudeLongitude .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_latitudeLongitude .w {
    left: 526px;
    top: 149px;
}

#view_navi_destination_latitudeLongitude .n {
    left: 454px;
    top: 95px;
}

#view_navi_destination_latitudeLongitude .s {
    left: 455px;
    top: 203px;
}

#view_navi_destination_latitudeLongitude .e {
    left: 383px;
    top: 149px;
}

#view_navi_destination_latitudeLongitude .go {
    left: 610px;
    top: 247px;
}

#view_navi_destination_latitudeLongitude .longitude {
    left: 156px;
    top: 37px;
}

#view_navi_destination_latitudeLongitude .latitude {
    left: 156px;
    top: -20px;
}

#view_navi_destination_latitudeLongitude .dd {
    left: 45px;
    top: 10px;
}

#view_navi_destination_latitudeLongitude .n1 {
    left: 94px;
    top: 203px;
}

#view_navi_destination_latitudeLongitude .n2 {
    left: 165px;
    top: 203px;
}

#view_navi_destination_latitudeLongitude .n3 {
    left: 237px;
    top: 203px;
}

#view_navi_destination_latitudeLongitude .n4 {
    left: 94px;
    top: 148px;
}

#view_navi_destination_latitudeLongitude .n5 {
    left: 165px;
    top: 148px;
}

#view_navi_destination_latitudeLongitude .n6 {
    left: 237px;
    top: 148px;
}

#view_navi_destination_latitudeLongitude .n7 {
    left: 94px;
    top: 98px;
}

#view_navi_destination_latitudeLongitude .n8 {
    left: 165px;
    top: 98px;
}

#view_navi_destination_latitudeLongitude .n9 {
    left: 237px;
    top: 98px;
}

#view_navi_destination_latitudeLongitude .n0 {
    top: 257px;
    left: 166px;
}

#view_navi_destination_latitudeLongitude .z1 {
    left: 374px;
    top: -21px;
}

#view_navi_destination_latitudeLongitude .z2 {
    left: 444px;
    top: -21px;
}

#view_navi_destination_latitudeLongitude .z3 {
    left: 374px;
    top: 38px;
}

#view_navi_destination_latitudeLongitude .z4 {
    left: 444px;
    top: 38px;
}

#view_navi_destination_latitudeLongitude .wn1 {
    left: 512px;
    top: -21px;
}

#view_navi_destination_latitudeLongitude .wn2 {
    left: 510px;
    top: 38px;
}

#view_navi_destination_latitudeLongitude .d1 {
    left: 414px;
    top: -32px;
    font-size: 48px;
}

#view_navi_destination_latitudeLongitude .d2 {
    left: 414px;
    top: 28px;
    font-size: 48px;
}

#view_navi_destination_latitudeLongitude .mn1 {
    left: 485px;
    top: -36px;
    font-size: 22px;
}

#view_navi_destination_latitudeLongitude .mn2 {
    left: 485px;
    top: 25px;
    font-size: 22px;
}

/********* Navigation Destination Emergency **********/
#view_navi_destination_emergency {
    top: 0;
    width: 800px;
    height: 432px;
    background: url(../images/nav/dest/navi_destination_Emergency_bg.png) no-repeat;
}

#view_navi_destination_emergency .content {
    top: 119px;
    left: 100px;
}

#view_navi_destination_emergency .sa {
    white-space: nowrap;
    top: 28px;
    left: -74px;
}

#view_navi_destination_emergency .nearby {
    white-space: nowrap;
    top: 28px;
    left: 65px;
}

#view_navi_destination_emergency .hospital {
    white-space: nowrap;
    top: 138px;
    left: 170px;
}

#view_navi_destination_emergency .police {
    white-space: nowrap;
    top: 189px;
    left: 170px;
}

#view_navi_destination_emergency .emerg {
    white-space: nowrap;
    top: 89px;
    left: 170px;
}

#nav_arrow {
    background: url(../images/nav/nav_arrow.png) no-repeat;
    width: 70px;
    height: 56px;
    left: 21px;
    top: 73px;
}

#nav_compass {
    width: 50px;
    height: 50px;
    background: url(../images/nav/compas.png) no-repeat;
    right: 208px;
}

.fr #nav_compass {
    width: 50px;
    height: 50px;
    background: url(../images/nav/compas_fr.png) no-repeat;
    right: 208px;
    z-index: 1;
}

#navigation_topmenu {
    right: 6px;
    top: 5px;
    width: 197px;
    height: 48px;
    border-radius: 3px;
    border-radius: 3px;
}

#nav_top_menu_arrow {
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 48px;
    height: 48px;
    right: 0;
}

/* Top menu Menu button*/
#navigation_topmenu_menu_button {
    cursor: pointer;
    width: 71px;
    height: 48px;
    left: 75px;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
}

#navigation_topmenu .delim {
    background: url(../images/nav/top_menu_delim.png) no-repeat;
    height: 48px;
    width: 4px;
}

#navigation_topmenu .delim2 {
    left: 71px;
}

#navigation_topmenu .delim3 {
    left: 146px;
}

/* Destination button*/
#navigation_topmenu_destination_button {
    cursor: pointer;
    font-size: 18px;
    width: 71px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#nav_top_menu_mute{
    position: absolute;
    top: 10px;
    left: 10px;
}

#nav_top_menu_arrow img {
    position: absolute;
    top: 10px;
    left: 10px;
}

#nav_zoom_in_dis {
    background: url("../images/nav/zoom_in_dis.png") no-repeat;
    width: 25px;
    height: 25px;
    left: 19px;
    top: 259px;
    display: none;
    z-index: 1000;
}

#nav_zoom_out_dis {
    background: url("../images/nav/zoom_out_dis.png") no-repeat;
    width: 25px;
    height: 25px;
    left: 19px;
    top: 309px;
    z-index: 1000;
}

.time-dest {
    background: url(../images/nav/dest-time.png) no-repeat;
    width: 130px;
    height: 50px;
    top: 349px;
    left: 5px;
}

.time-dest .distance {
    font-size: 20px;
    left: 50px;
    top: 3px;
    position: absolute;
}

.time-dest .distance_label {
    position: absolute;
    left: 25px;
    font-size: 16px;
    top: 4px;
}

.distance_time {
    font-size: 20px;
    left: -24px;
    top: 16px;
    position: absolute;
}

.distance_time_label {
    position: absolute;
    left: 40px;
    font-size: 12px;
    top: 7px;
}

#navigation_zoomin_button {
    border: 1px solid #393939;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 50px;
    height: 50px;
    top: 245px;
    left: 5px;
    cursor: pointer;
}

#navigation_zoomout_button {
    border: 1px solid #393939;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 50px;
    height: 49px;
    top: 294px;
    left: 5px;
    cursor: pointer;
}

#navigation_zoomin_button .ico {
    position: absolute;
    left: 13px;
    top: 13px;
}

#navigation_zoomout_button .ico {
    position: absolute;
    left: 13px;
    top: 13px;
}

#no_freeway {

    text-align: center;
    width: 202px;
    font-size: 21px;
    position: relative;
    float: left;
    margin-top: 270px;
    margin-left: 130px;
}

.nav_type_ico {
    position: absolute;
    left: 2px;
    top: -1px;
}

.type_h {
    position: absolute;
    left: 5px;
    top: -5px;
}

#navigation_mapsettings {
    top: 175px;
    left: 5px;
    border: 1px solid #333;
    border-radius: 3px;
}

/* Type View Change Button*/

#navigation_typeview_button {
    position: relative;
    float: left;
    cursor: pointer;
    font-size: 18px;
    width: 60px;
    height: 57px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #333;
}

.fr #navigation_typeview_button {
    font-size: 16px !important;
}

#navigation_typeview_button p {
    margin-top: 6px;
}

#navigation_typeview_button div {
    width: 22px;
    height: 17px;
    left: 13px;
    bottom: 8px;
    position: relative;
    float: left;
    margin-left: -9px;
}

#navigation_typeview_button div.small_ind_def {
    background: url(../images/nav/small_ind_def.png) no-repeat;
}

#navigation_typeview_button div.small_ind_active {
    background: url(../images/nav/small_ind_yell.png) no-repeat;
}

/* Map View Change Button*/

#navigation_mapview_button {
    cursor: pointer;
    width: 60px;
    height: 57px;
    position: relative;
    float: left;
    border-right: 1px solid #000;
}

#navigation_mapview_button .ico {
    margin-left: 5px;
}

#navigation_mapview_button div {
    width: 22px;
    height: 17px;
    left: 13px;
    bottom: 12px;
    position: relative;
    float: left;
    margin-left: -9px;
}

#navigation_mapview_button div.small_ind_def {
    background: url(../images/nav/small_ind_def.png) no-repeat;
}

#navigation_mapview_button div.small_ind_active {
    background: url(../images/nav/small_ind_yell.png) no-repeat;
}

/* END Map View Change Button*/


/* Nav Menu*/

#nav_menu_view {
    width: 496px;
    height: 216px;
    background: black;
    z-index: 1000;
    top: 125px;
    left: 155px;
    border: 2px solid #167B3B;
}

#nav_menu_lable {
    font-size: 24px;
    position: relative;
    width: 400px;
    margin: 10px auto 0;
    text-align: center;
}

#nav_menu_buttons {
    border: 1px solid #393939;
    width: 461px;
    height: 152px;
    position: relative;
    margin:10px auto 0;
    border-radius: 4px;
}

#nav_menu_buttons .button {
    background: url(../images/list/list_item_bg.png) repeat-x;
    width: 230px;
    height: 50px;
    border-bottom: 1px solid #393939;
    position: relative;
    float: left;
}

#nav_menu_buttons .button.right_border {
    border-right: 1px solid #393939;
}

#nav_menu_buttons .button span {
    font-size: 18px;
    line-height: 48px;
    padding-left: 20px;
}

#nav_menu_buttons .button.pressed {
    background: url(../images/list/list_item_pressed.png) repeat-x !important;
}

#guadian_mute .ind_act {
    position: absolute;
    right: 14px;
    top: 9px;
    background: url(../images/climate/ind_vert_active.png) no-repeat;
    width: 19px;
    height: 32px;
}

#guadian_mute .ind_inact {
    position: absolute;
    background: url(../images/climate/ind_vert_def.png) no-repeat;
    width: 6px;
    height: 21px;
    right: 20px;
    top: 14px;
}

#distance {
    background: url("../images/nav/distance.png") no-repeat bottom left;
    width: 133px;
    height: 14px;
    font-size: 20px;
    text-shadow: 0 0 3px #fff;
    color: black;
    top: 397px;
    padding: 0 0 11px 10px;
    left: 6px;
}

.typeview2 {
    left: 0;
    background-position: -140px 0 !important;
    width: 395px !important;
}

.typeview3 {
    left: 0;
    background-position: -140px 0 !important;
    width: 395px !important;
}

#navigation_view1 {
    background: url("../images/nav/nav_bg.png") no-repeat;
    width: 800px;
    height: 480px;
    display: none;
}

#navigation_view1.typeview1 {
    display: block;
    background-position: 0 0 !important;
}

#navigation_view2 {
    display: none;
    background: url("../images/nav/map_view2_with_icons.png") 0 -30px no-repeat;
    width: 343px;
    height: 233px;
    left: 395px;
    top: 56px;
}

#navigation_view2.typeview2 {
    display: block;
    background-position: 0 -30px !important;
}

#navigation_view3 {
    display: none;
    background: url("../images/nav/map_view3.png") 0 -70px no-repeat;
    width: 343px;
    height: 335px;
    left: 395px;
    top: 70px;
}

#navigation_view3.typeview3 {
    display: block;
    background-position: 0 -70px !important;
}

#navigation_view3.forhelp {
    z-index: 200;
    background: none !important;
}

#street {
    line-height: 56px;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
    top: 369px;
    left: 164px;
    background: url("../images/nav/street.png") no-repeat;
    width: 470px;
    height: 50px;
}

.nav2_ctrls {
    font-size: 20px;
    font-weight: bold;
    left: 131px;
}

.nav2_ctrls2 {
    font-size: 20px;
    font-weight: normal;
    left: 60px;
}

#nav_mich_mi {
    top: 40px;
}

#nav_outer_mi {
    top: 90px;
}

#nav_main_street_mi {
    top: 140px;
}

#nav_wyoming_street_mi {
    top: 190px;
}

#nav_wyoming_street {
    top: 190px;
}

#nav_main_street {
    top: 141px;
}

#nav_outer {
    top: 93px;
}

#nav_mich {
    top: 40px;
}

#navigation_view2 .turn-list {
    top: 306px;
    left: 9px;
    width: 325px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border: 1px solid #393939;
}

#navigation_view2 .turn-list span {
    margin-left: 13px;
}

.dest-logo {
    font-size: 30px;
    top: -30px;
    left: 5px;
}

#navigation_destination {
    width: 800px;
    height: 480px;
    background: url(../images/nav/bg.png) no-repeat;
}

#widget_navigation {
    position: absolute;
    width: 400px;
    height: 183px;
    left: 400px;
}

#home_main_mi {
    font-size: 21px;
    left: 159px;
    top: 102px;
}

#home_main_st {
    font-size: 27px;
    left: 35px;
    top: 126px;
    width: 306px;
    text-align: center;
}

#home_screen_arrow {
    background: url(../images/nav/arrow_home.png) no-repeat;
    width: 91px;
    height: 74px;
    right: 153px;
    top: 18px;
}

#home_non_nav {
    background: url(../images/home/home_nav_off.jpg) no-repeat;
    width: 90px;
    height: 90px;
    left: 155px;
    top: 20px;
}

#status_nav {
    top: 0;
    right: 0;
    text-align: right;
    font-size: 21px;
    width: 324px;
    height: 48px;
    cursor: pointer;
    background: url(../images/common/nav-status-bg.png) no-repeat;
    z-index: 10;
}

#navigation_status_label {
    width: 100%;
    display: block;
    visibility: hidden;
}

#navigation_status_label span {
    padding-right: 11px;
}

#navigation_status_on {
    height: 48px;
    width: 310px;
    position: relative;
    float: right;
}

#navigation_status_on .nav_distance {
    position: relative;
    right: 11px;
}

#navigation_status_on .ico {
    width: 26px;
    left: 60px;
    top: 10px;
    position: absolute;
}

#view2_list_container {
    width: 343px;
}

/******************* For Navigation.Destination menu*******************/
#navigation_destination {
    width: 800px;
    height: 480px;
}

#navigation_destination .backButton {
    top: 59px;
}

#navigation_destination .block-header-title {
    top: 67px;
    left: 73px;
}

#navigation_destination_pushToTalk_buttton {
    top: 80px;
    right: 5px;
    height: 48px;
    width: 48px;
    border: 1px solid #4bffff;
    border-radius: 2px;
}

#navigation_destination_list {
    top: 139px;
    left: 64px;
    width: 734px;
    height: 250px;
}

#navigation_destination_list .list-content {
    border: none !important;
}

#navigation_destination_list .scrollbar {
    height: 248px !important;
}

#navigation_destination_list .sb-bottom {
    height: 47px;
}

#navigation_destinationt {
    height: 250px;
    position: relative;
    float: left;
    margin-top: 5px;
    width: 554px;
}

#navigation_destination_list .list-item .ico {
    width: 50px;
    height: 50px;
}

#navigation_destination_list .list-content {
    width: 684px;
}

#navigation_destination .list-item {
    position: relative;
    width: 330px;
    float: left;
    margin-right: 10px;
    height: 49px;
    font-size: 20px;
    line-height: 50px;
    border: 1px solid #393939;
    border-bottom: none;
    cursor: pointer;
}

#navigation_destination .list-item .ico {
    float: left;
}

#navigation_destination .list-item span {
    height: 23px;
}

#navigation_destination .inner-wrapper {
    left: 100px;
    top: 71px;
}

#navigation_destination .group_button_wraper {
    width: 330px;
    position: absolute;
    height: 49px;
    top: 339px;
    left: 406px;
    border: 1px solid #333;
    text-align: center;
}

#navigation_destination .delim {
    left: 161px;
    width: 4px;
    height: 48px;
    background: url(../images/common/delim.png) no-repeat;
}

#navigation_destination .group_button_wraper .button {
    position: relative;
    float: left;
    width: 165px;
    height: 48px;
    cursor: pointer;
    line-height: 50px;
}

#navigation_destination .group_button_wraper span {
    font-size: 19px;
    line-height: 25px;
    text-align: center;
}

#navigation_destination.fr #navigation_destination_editRoute_Button span {
    position: absolute;
    width: 79px;
    left: 41px;
    top: 5px;
    line-height: 19px;
}
#navigation_destination_list_item0, #navigation_destination_list_item1 {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#navigation_destination_list_item8 {
    height: 48px !important;
    border-bottom: 1px solid #393939 !important;
}

#navigation_destination_list_item12,
#navigation_destination_list_item11 {
    height: 48px !important;
    border-bottom: 1px solid #393939 !important;
}