/**
 * CSS for AppLink aplications
 */
 
.ffw_list_menu {
	left: 440px;
	width: 158px;
	border: 1px solid #393939;
	overflow: hidden;
}

.ffw_list_menu .control {
	z-index: 2000;
	text-align: center;
}

.ffw_list_menu .ffw-button {
	position: relative;
	height: 49px;
	border-bottom: 1px solid #393939;
	line-height: 50px;
}

.ffw_list_menu .ffw-button span {
	margin-left: 20px;
}

.ffw_list_menu .content {
	position: relative;
}

.ffw_list_menu .ffw-button.hidden {
	display: none;
} 

.applink-window {
	width: 800px;
	height: 480px;
	background-color: #000;
	z-index: 1;
}
 
.applink-window .back-button {
	top: 80px;
	left: 5px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

.applink-window .back-button .ico {
	margin-top: 13px;
	margin-left: 8px;
}

.applink-window .caption-text {
	top: 80px;
	left: 75px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}
 
#info_nonMedia {
	z-index: 1001;
}

#info_nonMedia .backButton {
	top: 80px;
	left: 20px;
}

#info_nonMedia .inner_content {
	left: 180px;
	top: 90px;
	width: 600px;
	height: 300px;
}

#info_nonMedia .app_title {
	width: 390px;
	padding: 15px;
	top: 1px;
	background-color: #393939;
}

#info_nonMedia .app_image {
	top: 60px;
}

#info_nonMedia .app_fields {
	left: 160px;
	top: 60px;
	width: 260px;
}

#info_nonMedia .app_fields .label {
	position: relative;
	border: 1px solid #393939;
	padding: 7px;
	margin-bottom: 5px;
}

#info_nonMedia .presets {
    top: 220px;
    width: 420px;
    height: 80px;
}

#info_nonMedia .presets .ffw-button {
    width: 138px;
    height: 38px;
    position: relative;
    float: left;
    line-height: 40px;
    border-bottom: 1px solid #393939;
    border-right: 1px solid #393939;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    text-align: center;
}

#applink_options .list{
	width: 650px;
	height: 251px;
	border-radius: 2px;
	left: 75px;
	top: 150px;
}

/*#applink_view_container .list-content,*/
#applink_options .list-content{
	width: 590px;
}
#info_apps_deviceList_list .list-content span,
#applink_view_container .list-content span,
#applink_options .list-content span{
	margin-left: 15px;
}

#applink_options .list-content .ico {
    height: 49px;
    float: left;
}

#info_nonMedia_options_submenu {
	z-index: 11000;
	width: 800px;
	height: 480px;
	background-color: black;
	top: 0px;
	left: 0px;
}

#applink_media_presetButtons .preset-item > span {
	z-index: 202;
	display: block;
	position: absolute;
	left: 10px;
	width: 140px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
}

#applink_view_container .preset-items{
	width: 468px;
}

#applink_view_container .main-preset-buttons-wraper .preset-item.a3,
#applink_view_container .main-preset-buttons-wraper .preset-item.a6{
	width: 155px;
}

#applink_view_container #app_view_controllsV2.player_controlls{
	top: 241px;
	height: 48px;
}

#applink_view_container #app_view_controllsV2 .ffw-button{
	height: 48px;
}

#applink_view_container #app_view_controllsV2 img{
	margin-top: -26px;
}


/* ScrollableMessage */
#ScrollableMessage.ScrollableMessage{
	left: 0;
	top: 0;
	width:	800px;
	height: 480px;
	/*z-index: 1000;*/
	background: url(../images/media/bg.png) no-repeat;
}

#ScrollableMessage.active{
	opacity: 1;
	display: block;
}

#ScrollableMessage .backButton {
	top: 80px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

#ScrollableMessage .titleText{
	top: 80px;
	left: 75px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

#ScrollableMessage .scrollableText{
	position: absolute;
	width: 525px;
	height: 251px;
	border-radius: 2px;
	left: 200px;
	top: 154px;
	overflow: hidden;
}

#ScrollableMessage .scrollableText-content{
	border: none;
	width: 474px;
}

#ScrollableMessage .scrollableText-item {
	position: relative;
	width: 100%;
	height: 48px;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid #393939;
}

#ScrollableMessage .ffw_list_menu {
	top: 154px !important;
	left: 25px !important;
}

#ScrollableMessage .scrollableTextArea{
	margin: 0px;
	/*height: 251px;*/
	width: 469px;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	background-color: transparent;
	resize: none;
	line-height: 23px;
	position: absolute;
}


/* Applink Slider */

.slider-header {
	top: 167px;
	left: 145px;
	width: 480px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

.slider-footer {
	top: 325px;
	left: 145px;
	width: 480px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

#slider_view .sliderControl {
	width: 600px;
	left: 100px;
	top: 250px;
	text-align: center;
}

#slider_view .control {
	width: 58px;
	height: 38px;
	border: 1px solid #393939;
	position: relative;
	display: inline-block;
}

 
#slider_view .ledContainer{
	position: relative;
	display: inline-block;
	border: 1px solid #393939;
	height: 38px;
}

 
 #slider_view .control.minus .ico {
	 top: 19px;
	 left: 20px;
	 position: absolute;
 }
 #slider_view .control.plus .ico {
	 top: 12px;
	 left: 20px;
	 position: absolute;
 }

#slider_view .led {
	width: 12px;
	height: 40px;
	background: url("../images/common/seat-act-led.png") no-repeat;
	position: relative !important;
	background-position: -4px 0;
	display: inline-block;
}
#slider_view .led-inactive {
	background: url("../images/common/seat-inact-led.png") no-repeat;
	background-position: 3px 8px;
	width: 12px;
	height: 40px;
	position: relative !important;
	display: inline-block;
}


/* 	Applink Perform Interaction Choise,
	Applink TBT Turn List */
#tbtTurnListView .list,
#perform_interaction_view .list{
	position: absolute;
	width: 650px;
	height: 251px;
	border-radius: 2px;
	left: 75px;
	top: 154px;
}
#tbtTurnListView .list span,
#perform_interaction_view .list span{
	margin-left: 15px;
}
#tbtTurnListView .list-content,
#perform_interaction_view .list-content{
	width: 578px;
}

#applink_view_container .textLimit{
	width: 460px;
	text-overflow: ellipsis;
	overflow: hidden;
}
#VRButton.VRButton{
	background: url(../images/home/controlButtons/vr.png) no-repeat;
	width: 89px;
	height: 90px;
	left: 1024px;;
	top: 2px;
	-webkit-transition: 0.2s;
}
#VRButton.pressed{
	background: url(../images/home/controlButtons/vr_pressed.png) no-repeat;
}
#vehicleInfoButton.vehicleInfoButton{
	width: 117px;
	height: 48px;
	left: 1059px;
	top: 206px;
	text-align: center;
	line-height: 48px;
}
#tbtClientStateButton.tbtClientStateButton{
	width: 158px;
	height: 48px;
	left: 1018px;
	top: 418px;
	text-align: center;
	line-height: 48px;
}
#tbtClientStateView,
#VehicleInfo{
	opacity: 0;
	left: 50px;
	width: 700px;
	height: 340px;
	background-color: black;
	z-index: 2;
	border-radius: 10PX;
	top: 70px;
	-webkit-transition: opacity 1s ease-in-out;
	display: none;
	border: 1px solid white;
}
#tbtClientStateView .tbtClientStateLabel,
#VehicleInfo .vehicleInfoLabel{
	top: 10px;
	width: 600px;
	left: 35px;
	height: 20px;
	padding: 15px;
	background: #393939;
}
#tbtClientStateView.active,
#VehicleInfo.active{
	opacity: 1;
	display: block;
}
#tbtClientStateView .tbtClientState, 
#VehicleInfo .prndl{
	top: 70px;
	width: 600px;
	left: 40px;
	height: 20px;
	padding: 10px;
	background: #535353;
}
#tbtClientStateView .tbtClientStateSelect,
#VehicleInfo .prndlSelect{
	top: 125px;
	position: absolute;
	width: 150px;
	left: 275px;
	height: 40px;
	color: white;
	background: #393939;
}
#tbtClientStateView .tbtClientStateSelect option,
#VehicleInfo .prndlSelect option{
	background: #393939;
}
#VehicleInfo .ecu1Title{
	top: 180px;
	width: 600px;
	left: 40px;
	height: 20px;
	padding: 10px;
	background: #535353;
}
#VehicleInfo .ecu1{
	top: 233px;
	width: 80px;
	left: 65px;
	height: 20px;
	padding: 10px;
}
#VehicleInfo .ecu2{
	top: 265px;
	width: 80px;
	left: 65px;
	height: 20px;
	padding: 10px;
}
#VehicleInfo .ecu1Data{
	top: 233px;
	width: 485px;
	left: 155px;
	height: 20px;
	padding: 10px;
}
#VehicleInfo .ecu2Data{
	top: 265px;
	width: 485px;
	left: 155px;
	height: 20px;
	padding: 10px;
}

/* Alert, AudioPassThruPopUp popup*/
#AlertManeuverPopUp.AlertManeuverPopUp,
#AudioPassThruPopUp.AudioPassThruPopUp,
#AlertPopUp.AlertPopUp{
	opacity: 0;
	left: 200px;
	width: 400px;
	height: 245px;
	z-index: 2;
	top: 110px;
	-webkit-transition: opacity 1s ease-in-out;
	background-color: black;
	border: #A6A6A6 solid 2px;
	border-radius: 6px;
	display: none;
}
#AlertManeuverPopUp .applicationName,
#AudioPassThruPopUp .applicationName,
#AlertPopUp .applicationName{
	width: 380px;
	left: 10px;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#AlertPopUp .alertPopUpImage{
	width: 83px;
	height: 74px;
	background: url(../images/applink/Warning.png) no-repeat;
	top: 45px;
	left: 10px;
}
#AudioPassThruPopUp .audioPassThruImage{
	width: 83px;
	height: 74px;
	background: url(../images/home/controlButtons/vrImage.png) no-repeat;
	top: 45px;
	left: 25px;
}
#AudioPassThruPopUp .message1,
#AlertPopUp .message1{
	top: 37px;
	left: 105px;
	width: 285px;
	height: 30px;
	text-align: center;
	font-size: 23px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#AudioPassThruPopUp .message2,
#AlertPopUp .message2{
	top: 70px;
	left: 105px;
	width: 285px;
	height: 28px;
	text-align: center;
	font-size: 23px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#AudioPassThruPopUp .message3,
#AlertPopUp .message3{
	top: 100px;
	left: 105px;
	width: 285px;
	height: 28px;
	text-align: center;
	font-size: 23px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#AlertManeuverPopUp.AlertManeuverActive,
#AudioPassThruPopUp.AudioPassThruActive,
#AlertPopUp.AlertActive{
	opacity: 1;
	display: block;
}
#AlertManeuverPopUp .softButton,
#AudioPassThruPopUp .softButton,
#AlertPopUp .softButton{
	border: 1px solid #393939;
	border-radius: 3px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	float: left;
	margin: 10px;
	position: relative;
}
#AlertManeuverPopUp .closeButton{
	width: 170px;
	top: 180px;
	left: 110px;
}
#AlertPopUp .alertSoftButtons{
	margin-left: 8px;
	top: 120px;
}
#AlertManeuverPopUp .one,
#softButton0.one{
	margin-top: 42px;
	width: 362px;
}
#softButton0.two{
	margin-top: 42px;
	width: 170px;
}
#softButton1.two{
	margin-top: 42px;
	width: 170px;
}
#softButton0.three{
	width: 170px;
}
#AudioPassThruPopUp .buttonDone,
#softButton1.three{
	width: 170px;
}
#AudioPassThruPopUp .buttonCancel,
#softButton2.three{
	width: 362px;
}
#softButton0.four{
	width: 170px;
}
#softButton1.four{
	width: 170px;
}
#softButton2.four{
	width: 170px;
}
#softButton3.four{
	width: 170px;
}
#AudioPassThruPopUp .buttonRetry{
	top: 120px;
	width: 175px;
}
#AudioPassThruPopUp .buttonDone{
	top: 120px;
	width: 175px;
}
#AudioPassThruPopUp .buttonCancel{
	top: 120px;
	width: 372px;
}



#app_controlButtons .languageSelect{
	position: absolute;
	width: 150px;
	height: 30px;
	color: white;
	background: #393939;
}

#app_controlButtons .languageSelect option{
	background: #393939;
}
#UILanguages.languageSelect{
	top: 110px;
	left: 1028px;
}
#TTSVRLanguages.languageSelect{
	top: 170px;
	left: 1028px;
}

#app_controlButtons .UILanguagesLabel{
	top: 91px;
	left: 1028px;
	width: 150px;
}
#app_controlButtons .TTSVRLanguagesLabel{
	top: 151px;
	left: 1028px;
	width: 160px;
}
#info_leftMenu_appLink{
	font-size: 18px;
	line-height: 48px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* TurnByTurnView */
#TurnByTurnView.TurnByTurnView{
	top: 48px;
	height: 384px;
	left: 153px;
	width: 647px;
}
#TurnByTurnView .caption-text{
	left: 5px;
	width: 607px;
	top: 15px;
}
#TurnByTurnView .totalDistanceLabel{
	height: 20px;
	background: #393939;
	padding: 15px;
	left: 5px;
	top: 80px;
	width: 170px;
}
#TurnByTurnView .etaLabel{
	height: 20px;
	background: #393939;
	padding: 15px;
	left: 206px;
	top: 80px;
	width: 170px;
}
#TurnByTurnView .turnList{
	left: 5px;
	top: 145px;
	width: 379px;
	padding: 10px;
	text-align: center;
}
#TurnByTurnView .ffw_list_menu{
	height: 198px;
	top: 200px;
	left: 5px;
	width: 401px;
	border: none;
}
#TurnByTurnView .ffw-button{
	border-radius: 3px;
	border: 1px solid #393939;
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
}
#TurnByTurnView .homeScreen{
	left: 440px;
	top: 312px;
	padding: 0 0 0 5px;
	width: 195px;
}
#TurnByTurnView .homeScreen > img{
	float: left;
	width: 50px;
	height: 50px;
}
#TurnByTurnView .homeScreen > span{
	float: left;
	line-height: 50px;
	padding-left: 5px;
}
#TurnByTurnView .navigationText2{
	left: 440px;
	top: 269px;
	width: 182px;
	padding: 10px;
	height: 20px;
	background: #393939;
}
#TurnByTurnView .turnIcon{
	border: 1px solid #222;
	top: 64px;
	left: 440px;
	width: 200px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
}

#tbtTurnListList .list-content .label > img{
	width: 50px;
	height: 50px;
	float: left;
}
#info_apps_list .ffw-button{
	overflow: hidden;
	text-overflow: ellipsis;
}