/**
 * CSS for AppLink aplications
 */
 
.ffw_list_menu {
	left: 440px;
	width: 158px;
	border: 1px solid #393939;
	overflow: hidden;
}

.ffw_list_menu .control {
	z-index: 2000;
	text-align: center;
}

.ffw_list_menu .ffw-button {
	position: relative;
	height: 49px;
	border-bottom: 1px solid #393939;
	line-height: 50px;
}

.ffw_list_menu .ffw-button span {
	margin-left: 20px;
}

.ffw_list_menu .content {
	position: relative;
}

.ffw_list_menu .ffw-button.hidden {
	display: none;
} 

.applink-window {
	width: 800px;
	height: 480px;
	background-color: #000;
	z-index: 1;
}
 
.applink-window .back-button {
	top: 80px;
	left: 20px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

.applink-window .back-button .ico {
	margin-top: 13px;
	margin-left: 8px;
}

.applink-window .caption-text {
	top: 80px;
	left: 100px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}
 
#info_nonMedia {
	z-index: 1001;
}

#info_nonMedia .backButton {
	top: 80px;
	left: 20px;
}

#info_nonMedia .inner_content {
	left: 180px;
	top: 90px;
	width: 600px;
	height: 300px;
}

#info_nonMedia .app_title {
	width: 390px;
	padding: 15px;
	top: 1px;
	background-color: #393939;
}

#info_nonMedia .app_image {
	top: 60px;
}

#info_nonMedia .app_fields {
	left: 160px;
	top: 60px;
	width: 260px;
}

#info_nonMedia .app_fields .label {
	position: relative;
	border: 1px solid #393939;
	padding: 10px;
	margin-bottom: 5px;
}

#info_nonMedia_options {
	z-index: 10001;
	width: 800px;
	height: 480px;
	background-color: #000;
}

#info_nonMedia_options .options_title {
	top: 80px;
	left: 100px;
	width: 640px;
	padding: 15px;
	background-color: #393939;
}

#info_nonMedia_options .list{
	width: 669px;
	height: 251px;
	border-radius: 2px;
	left: 100px;
	top: 150px;
}

/*#applink_view_container .list-content,*/
#info_nonMedia_options .list-content{
	width: 610px;
}
#info_apps_deviceList_list .list-content span,
#applink_view_container .list-content span,
#info_nonMedia_options .list-content span{
	margin-left: 15px;
}

#info_nonMedia_options_submenu {
	z-index: 11000;
	width: 800px;
	height: 480px;
	background-color: black;
	top: 0px;
	left: 0px;
}

#applink_media_presetButtons .preset-item > span {
	z-index: 202;
	display: block;
	position: absolute;
	left: 10px;
	width: 140px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
}

#applink_view_container .preset-items{
	width: 468px;
}

#applink_view_container .main-preset-buttons-wraper .preset-item.a3,
#applink_view_container .main-preset-buttons-wraper .preset-item.a6{
	width: 155px;
}

#applink_view_container .player_controlls{
	top: 241px;
	height: 48px;
}

#applink_view_container #app_view_controlls .ffw-button{
	height: 48px;
}

#applink_view_container #app_view_controlls img{
	margin-top: -26px;
}

#media_applink_slider_view .control {
	 width: 238px;
	 height: 41px;
	 border: 1px solid #393939;
	 -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
 }
 
 #media_applink_slider_view .control{
	width: 213px;
	/*height: 28px;*/
 }
 
 #media_applink_slider_view .control.active {
	border: 1px solid #ff9900;
 }
 #media_applink_slider_view .control .minus {
	 width: 58px;
	 height: 41px;
	 border-right: 1px solid #393939;
	 -webkit-border-top-right-radius: 3px;
	 -webkit-border-bottom-right-radius: 3px;
	 -moz-border-radius-topright: 3px;
	 -moz-border-radius-bottomright: 3px;
	 border-top-right-radius: 3px;
	 border-bottom-right-radius: 3px;
	 top: 0;
	 left: 0;
	 background: url(../images/common/btn-48h.png);
	 position: relative;
	 float: left;
	 cursor: pointer;
 }
 
 #media_applink_slider_view .control .minus {
	/* height: 28px;*/
 }
 
 #media_applink_slider_view .ledContainer{
 	 position: relative;
	 float: left;
 }
 #media_applink_slider_view .control .plus {
	 width: 58px;
	 height: 41px;
	 border-left: 1px solid #393939;
	 -webkit-border-top-left-radius: 3px;
	 -webkit-border-bottom-left-radius: 3px;
	 -moz-border-radius-topleft: 3px;
	 -moz-border-radius-bottomleft: 3px;
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
	 top: 0px;
	 right: 0;
	 background: url(../images/common/btn-48h.png);
	 cursor: pointer;
 }
 
 #media_applink_slider_view .control .plus {
	/* height: 28px;*/
 }
 
 #media_applink_slider_view .control .minus .ico {
	 top: 19px;
	 left: 20px;
	 position: absolute;
 }
 #media_applink_slider_view .control .plus .ico {
	 top: 12px;
	 left: 20px;
	 position: absolute;
 }

#media_applink_slider_view .led {
	width: 12px;
	height: 40px;
	background: url("../images/common/seat-act-led.png") no-repeat;
	position: relative !important;
	float: left;
	background-position: -4px 0;
}
#media_applink_slider_view .led-inactive {
	background: url("../images/common/seat-inact-led.png") no-repeat;
	background-position: 3px 8px;
	width: 12px;
	height: 40px;
	position: relative !important;
	float: left;
}

#media_applink_slider_view .sliderControl{
	top: 250px;
	left: 300px;
}

/* ScrollableMessage */
#ScrollableMessage.ScrollableMessage{
	left: 0;
	top: 0;
	width:	800px;
	height: 480px;
	z-index: 1000;
	background: url(../images/media/bg.png) no-repeat;
}

#ScrollableMessage.active{
	opacity: 1;
	display: block;
}

#ScrollableMessage .backButton {
	top: 80px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

#ScrollableMessage .titleText{
	top: 80px;
	left: 75px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

#ScrollableMessage .scrollableText{
	position: absolute;
	width: 525px;
	height: 251px;
	border-radius: 2px;
	left: 200px;
	top: 150px;
	overflow: hidden;
}

#ScrollableMessage .scrollableText-content{
	border: none;
	width: 474px;
}

#ScrollableMessage .scrollableText-item {
	position: relative;
	width: 100%;
	height: 48px;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid #393939;
}

#ScrollableMessage .ffw_list_menu {
	top: 150px !important;
	left: 25px !important;
}

#ScrollableMessage .scrollableTextArea{
	margin: 0px;
	/*height: 251px;*/
	width: 469px;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	background-color: transparent;
	resize: none;
	line-height: 23px;
	position: absolute;
}


/* Applink Perform Interaction Choise */

#perform_interaction_view .list{
	position: absolute;
	width: 650px;
	height: 251px;
	border-radius: 2px;
	left: 100px;
	top: 150px;
}

#perform_interaction_view .list span{
	margin-left: 15px;
}

#perform_interaction_view .list-content{
	width: 578px;
}