#media_leftmenu {
	z-index: 301;
	position: absolute;
	top: 90px;
	left: 0px;
	width: 150px;
	height: 300px;
	background: #333;
}

#media_cdButton {
	font-size: 18px;
	padding-left: 48px;
	line-height: 48px;
}

#media_usbButton {
    font-size: 18px;
    padding-left: 48px;
    line-height: 48px;
}

#media_radioButton {
    font-size: 18px;
    padding-left: 48px;
    line-height: 48px;
}

#media_sdlButton {
	font-size: 18px;
	line-height: 48px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

#media_sdlButton span {
	margin-left: 50px;
}

#media_status {
	bottom: 0px;
	left: 0px;
	font-size: 21px;
	width: 324px;
	height: 48px;
	cursor: pointer;
	background: url(../images/common/media-status-bg.png) no-repeat;
	z-index: 1;
}

#media_status_homestatus {
	position: absolute;
	visibility: hidden;
	width: 100%;
	line-height: 50px;
}

#media_status_homestatus span {
	padding-left: 11px;
}

.ls_border {
	z-index: 201;
	position: absolute;
	top: -3px;
	left: 0px;
	width: 153px;
	height: 306px;
	background: url(../images/common/ls_border.png) no-repeat;
}

.media-ls-items {
	position: relative;
	width: 150px;
	height: 300px;
}

.media-ls-item {
	z-index: 201;
	position: relative;
	height: 50px;
	cursor: pointer;
	background: url(../images/media/ls-item_bg.png) no-repeat;
}

.media-ls-item.active_state {
	background: url(../images/media/ls-item_bg_act.png) no-repeat !important;
}

.media-ls-item>.bg {
	z-index: 201;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 50px;
}

.media-ls-item>.ico {
	z-index: 299;
	position: absolute;
	left: 0px;
	width: 50px;
	height: 50px;
}

.media-ls-item>.ico.more {
	left: 50px;
}

.media-ls-item>p {
	z-index: 298;
	position: absolute;
	left: 48px;
	width: 86px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
}

.media-ls-item>.led {
	z-index: 299;
	position: absolute;
	top: 0px;
	right: 8px;
	width: 24px;
	height: 50px;
}

.media-ls-item.empty {
	background: #333333;
}

.main-preset-buttons-wraper {
	position: relative;
	width: 468px;
	height: 100px;
	float: left;
	left: 4px;
	top: 222px;
	z-index: 503;
}

.main-preset-buttons-wraper .preset-items {
	position: relative;
	width: 467px;
	height: 99px;
	border: 1px solid #393939;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	z-index: 1;
}

.main-preset-buttons-wraper .preset-item {
	position: relative;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #393939;
    border-bottom: 1px solid #393939;
	height: 49px;
	cursor: pointer;
    width: 155px;
}

#sdl_media_presetButtons_wrapper .preset-item {

    width: 92.6px;
}

#sdl_media_presetButtons.main-preset-buttons-wraper {
    top: 291px;
    left: 165px;
}

#tuneButtons .preset-item{
    width: 77px;
}

#tuneButtons .clear .ico{
    margin-top: 15px;
    margin-left: 22px;
}

.right-stock {
    position: absolute;
    margin-right: 4px;
    float: right;
    width: 150px;
    border: 1px solid #393939;
    border-bottom: none;
    border-radius: 3px;
    top: 20px;
    left: 485px;
}

.right-stock .hidden {
    display: none;
}

.player-right-stock {
    position: absolute;
    margin-right: 4px;
    float: right;
    width: 150px;
    border: 1px solid #393939;
    border-bottom: none;
    border-radius: 3px;
    top: 20px;
    left: 485px;
}

.rs-item {
    position: relative;
    width: 140px;
    height: 49px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    font-size: 18px;
    line-height: 46px;
    padding-left: 10px;
}

.rs-item.notpressed {
    background: url(../images/list/list_item_bg.png) repeat-x;
}

.rs-item.pressed {
    background: url(../images/list/list_item_pressed.png) repeat-x !important;
}

.rs-item > .ico {
    position: absolute;
    top: 0;
    right: 10px;
    width: 24px;
    height: 50px;
}

.main-preset-buttons-wraper .preset-item.a0 {
	background: url(../images/media/bcs-item_bgL.png) no-repeat;
	border-right: 1px solid #393939;
	border-bottom: 1px solid #393939;
}

.tuneButtons .preset-item.a0 {
    background: url(../images/media/bcs-item_bgL-small.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a0.pressed {
	background: url(../images/media/bcs-item_bgL_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a0.active {
	background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a1 {
	background: url(../images/media/bcs-item_bgS.png) no-repeat;
	border-right: 1px solid #393939;
	border-bottom: 1px solid #393939;
	width: 157px;
}

.main-preset-buttons-wraper .preset-item.a1.pressed {
	background: url(../images/media/bcs-item_bgS_pressed.png) no-repeat;
	/*width: 157px;*/
}

.main-preset-buttons-wraper .preset-item.a1.active {
	background: url(../images/media/bcs-item_bg_act.png) repeat;
}

.main-preset-buttons-wraper .preset-item.a2 {
	background: url(../images/media/bcs-item_bgR.png) no-repeat;
	border-bottom: 1px solid #393939;
	width: 153px;
}

.main-preset-buttons-wraper .preset-item.a2.pressed {
	background: url(../images/media/bcs-item_bgR_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a2.active {
	background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a3 {
	background: url(../images/media/bcs-item_bgL.png) no-repeat;
	border-right: 1px solid #393939;
}

.main-preset-buttons-wraper .preset-item.a3.pressed {
	background: url(../images/media/bcs-item_bgL_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a3.active {
	background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a4 {
	background: url(../images/media/bcs-item_bgS.png) no-repeat;
	border-right: 1px solid #393939;
	width: 157px;
}

.main-preset-buttons-wraper .preset-item.a4.pressed {
	background: url(../images/media/bcs-item_bgS_pressed.png) no-repeat;
	width: 157px;
}

.main-preset-buttons-wraper .preset-item.a4.active {
	background: url(../images/media/bcs-item_bg_act.png) repeat;
}

.main-preset-buttons-wraper .preset-item.a5 {
	background: url(../images/media/bcs-item_bgR.png) no-repeat;
	width: 153px;
}

.main-preset-buttons-wraper .preset-item.a5.pressed {
	background: url(../images/media/bcs-item_bgR_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a5.active {
	background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item>.bg {
	z-index: 201;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 155px;
	height: 49px;
}

.main-preset-buttons-wraper .preset-item>span {
	z-index: 202;
	display: block;
	position: absolute;
	left: 10px;
	width: 30px;
	height: 50px;
	font-size: 32px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
	color: #999;
}

.main-preset-buttons-wraper .preset-item>p {
	z-index: 202;
	position: absolute;
	left: 40px;
	width: 100px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
}

.home-preset-buttons-wraper {
	top: 82px;
	left: 34px;
	z-index: 50;
}

.home-preset-buttons-wraper .preset-items {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #393939;
	width: 328px;
	height: 79px;
}

.bc-item2>p {
	z-index: 202;
	position: absolute;
	left: 40px;
	width: 100px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
}

.bc-item-big {
	position: relative;
	float: left;
	width: 155px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
}

.bc-item-big.prevcd,.bc-item-big.prevusb,.bc-item-big.prevsd,.bc-item-big.prevblue
	{
	width: 155px;
	height: 98px;
	border-right: 1px solid #393939;
	cursor: pointer;
	background: url(../images/media/cd-prev-btn.png) no-repeat;
}

.bc-item-big.prevcd.pressed,.bc-item-big.prevusb.pressed,.bc-item-big.prevsd.pressed,.bc-item-big.prevblue.pressed
	{
	background: url(../images/media/cd-prev-btn_pressed.png) no-repeat;
}

.bc-item-big.playcd {
	width: 157px;
	height: 98px;
	border-right: 1px solid #393939;
	cursor: pointer;
	background: url(../images/media/cd_play_btn.png) no-repeat;
}

.bc-item-big.play-usb,
.bc-item-big.play-cd{
    width: 157px;
    height: 98px;
    border-right: 1px solid #393939;
    cursor: pointer;
    background: url(../images/media/cd_play_btn.png) no-repeat;
}
.playIcon {
	position: absolute;
	left: 66px;
}

.playIcon.hideicon {
	visibility: hidden;
}

.playIcon.showicon {
	visibility: visible;
}

.bc-item-big.playcd.pressed,.bc-item-big.playusb.pressed,.bc-item-big.playsd.pressed,.bc-item-big.playblue.pressed
	{
	background: url(../images/media/cd_play_btn_pressed.png) no-repeat;
}

.bc-item-big.nextcd,.bc-item-big.nextusb,.bc-item-big.nextsd,.bc-item-big.nextblue
	{
	width: 154px;
	height: 98px;
	cursor: pointer;
	background: url(../images/media/cd-next-btn.png) no-repeat;
}

.bc-item-big.nextcd.pressed,.bc-item-big.nextusb.pressed,.bc-item-big.nextsd.pressed,.bc-item-big.nextblue.pressed
	{
	background: url(../images/media/cd-next-btn_pressed.png) no-repeat;
}

#usb_logo {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid #393939;
    border-radius: 2px;
    width: 109px;
    height: 109px;
    background: url(../images/media/small-fall-image.png) no-repeat;
}

#cd_logo {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid #393939;
    border-radius: 2px;
    width: 109px;
    height: 109px;
    background: url(../images/media/small-lazerhorse-image.png) no-repeat;
}

#bt-bg {
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: -8px;
}

#bt-dis-controls {
	background: url(../images/media/disabled_player_controls.png) no-repeat;
	width: 470px;
	height: 100px;
	position: relative;
	bottom: 17px;
	float: left;
	margin-left: 13px;
}

#avin-line {
	z-index: 200;
	position: relative;
	width: 151px;
	height: 297px;
	margin-top: 100px;
	margin-left: 171px;
}

.player_controlls {
	z-index: 199;
	position: absolute;
	top: 222px;
	left: 4px;
	width: 468px;
	height: 99px;
	background: url("../images/media/btn_bg.png") repeat;
	border: 1px solid #393939;
	-webkit-border-radius: 3px;
}

#sdl_view_container .track-info{
	left: 165px;
	top: 55px;
}

#sdl_view_container .list-content {
	border: none;
}

#sdl_view_container .list-item {
	position: relative;
	width: 100%;
	height: 48px;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid #393939;
}

.track-info {
	z-index: 199;
	position: absolute;
	left: 13px;
	width: 470px;
    overflow: hidden;
    height: 237px;
}

.track-info>.total {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 300px;
	text-align: left;
	font-size: 20px;
	color: #999999;
}

.track-info>.title {
	top: 110px;
	font-size: 38px;
	left: 7px;
}

.track-info>.track-number {
	top: 153px;
	font-size: 26px;
	left: 10px;
}

.track-info>.time {
	top: 190px;
	font-size: 26px;
	left: 10px;
}

.track-info>.divider_o {
	top: 65px;
}

.track-info>.device {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 300px;
	text-align: left;
	font-size: 20px;
	color: #999999;
}

.track-info>.STAName {
    font-size: 22px;
    top: 30px;
    left: 8px;
    position: absolute;
}
.track-info>.genre {
    position: absolute;
    top: 30px;
    right: 6px;
    width: 200px;
    text-align: right;
    font-size: 24px;
}
.track-info>.songInfo {
    text-transform: uppercase;
    position: absolute;
    font-size: 20px;
    top: 164px;
    left: 2px;
    width: 466px;
}

#radio_view_container .track-info>.station {
    position: absolute;
    top: 50px;
    left: 8px;
    font-size: 62px;
 }

#radio_view_container .divider_o {
    position: absolute;
    top: 130px;
    left: 0px;
    width: 470px;
    height: 1px;
    background: url("../images/media/divider_o.png") no-repeat;
}

.divider_o {
	position: absolute;
	top: 120px;
	left: 0px;
	width: 470px;
	height: 1px;
	background: url("../images/media/divider_o.png") no-repeat;
}

.statusInfo {
	width: 275px;
	height: 48px;
}

.statusInfo .station {
	top: 12px;
	left: 11px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 21px;
	width: 220px;
}

.statusInfo .station span {
	display: none;
}

.statusInfo .icon {
	width: 50px;
	height: 50px;
	left: 224px;
}

.cdIco {
	background: url(../images/media/ico_cd.png) no-repeat !important
}

.appIco {
	background: url(../images/info/info_leftMenu_apps_ico.png) no-repeat
		!important
}

#media_player_view_container {
	/*background: url(../images/media/player_view.png) no-repeat;*/
	width: 635px;
	height: 323px;
	top: 70px;
	left: 161px;
	z-index: 501;
}

#sdl_view_container .ffw_list_menu,
#radio_view_container .ffw_list_menu{
	top: 90px;
	left: 650px;
	width: 140px;
}

#media_fm_tuneButtons {
    margin: 4px 5px 0 5px;
}

#media_fm_tuneButtons .ffw-button {
    width: 60px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
    margin: 0 4px;
}
#tuneButtons .ffw-button.disabled > span {
    color: #999;
}