/*NAVIGATION CSS*/
#baseNavigation{
    z-index: 2;
    position: absolute;
    top: 48px;
    width: 800px;
    height: 384px;
}
#baseNavigation .mainField{
    position: absolute;
    background: rgba(124, 124, 124, 0.3);
    border: 1px solid;
    border-color: rgba(90, 90, 90, 0.31);
    border-radius: 3px;
    box-shadow: inset 2px 2px 10px 0px rgba(112, 112, 112, 0.3), inset -2px -2px 10px 0px rgba(112, 112, 112, 0.3);
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}
#baseNavigation .softButton{
    position: absolute;
    border-radius: 3px;
    border: 1px solid #393939;
}
#baseNavigation .mainField1{
    top: 0;
    height: 30px;
    width: 190px;
    left: 0;
}
#baseNavigation .mainField2{
    top: 0;
    height: 40px;
    width: 380px;
    left: 204px;
}
#baseNavigation .mainField3{
    top: 0;
    height: 30px;
    width: 190px;
    right: 0;
}
#baseNavigation .mainField4{
    top: 50px;
    height: 30px;
    width: 90px;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
}
#baseNavigation .mainField5{
    top: 100px;
    height: 30px;
    width: 90px;
    right: 0;
}
#baseNavigation .mainField6{
    bottom: 0;
    height: 40px;
    width: 280px;
    left: 254px;
}
#baseNavigation .softButton1{
    width: 250px;
    bottom: 0;
    left: 0;
    position: absolute!important;
    margin: 0px!important;
    height: 49px!important;
    font-size: 32px;
    line-height: 50px!important;
}
#baseNavigation .softButton2{
    width: 250px;
    bottom: 0px;
    right: 0px;
    position: absolute!important;
    margin: 0px!important;
    height: 49px!important;
    font-size: 32px;
    line-height: 50px!important;
}
#baseNavigation .softButton3{
    width: 100px;
    top: 100px;
    left: 0;
    position: absolute!important;
    margin: 0px!important;
    height: 49px!important;
    font-size: 32px;
    line-height: 50px!important;
}
#baseNavigation .softButton4{
    width: 100px;
    top: 150px;
    left: 0;
    position: absolute!important;
    margin: 0px!important;
    height: 49px!important;
    font-size: 32px;
    line-height: 50px!important;
}