/**
 * Phone module CSS
 *
 * @category	Style Sheets
 * @filesource	css/phone.css
 * @version		2.0
 */
#phone {
	width: 800px;
	height: 480px;
	background: url(../images/phone/bg.png) no-repeat;
	background-position: top;
}  /*


 Backgrpund for active toogleButton
#phone .toogleButtonContainer .active {
	background: url(../images/phone/bcs-item_bg_act.png);
}

#phone .delim {
	position: relative;
	float: left;
	border: #393939 1px solid;
	height: 26px;
	width: 0px;
}

 LEFT MENU 
*/
#phone_menu {
	position: absolute;
	top: 90px;
	left: 0px;
	width: 150px;
	height: 300px;
	background: #333;
}

.ls_border {
	z-index: 201;
	position: absolute;
	top: -3px;
	left: 0px;
	width: 153px;
	height: 306px;
}

.ls-items {
	position: relative;
	width: 150px;
	height: 300px;
}

.ls-item {
	z-index: 201;
	position: relative;
	width: 150px;
}

/*.ls-item > .bg{z-index:201;position:absolute;top:0px;left:0px;width:150px;height:50px;}
	*/
.ls-item>.ico {
	z-index: 299;
	position: absolute;
	left: 10px;
	width: 30px;
	height: 30px;
	top: 10px;
}  /*
	.ls-item > .ico.more {left:50px;}
	*/
.ls-item span {
	z-index: 298;
	position: absolute;
	left: 50px;
	width: 100px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
}

/*.ls-item > .led{z-index:299;position:absolute;top:0px;right:8px;width:24px;height:50px;}
	.ls-item.empty{background:#333333;}
	.firts_item{-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}
	.last_item{-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
	*/
.lsp1_p {
	background: url("../images/phone/menu_bg.png") repeat-x bottom;
}

.phone_active {
	background: url("../images/phone/menu_active.png") repeat-x bottom
		!important;
	border-top: 1px solid #3e3115;
	border-bottom: 1px solid #4a3a17
}

#phone_menu .ls-item {
	height: 48px;
	border-bottom: 1px solid #656565;
	border-top: 1px solid #393939;
}  /*
	.navigationApp {width:26px;height:25px;background:url("../images/phone/ico_navigation.png") no-repeat;left:60px;top:10px;}

#phone_menu.hide {
	left: -170px;
}

#phone_menu_quickdialButton,
#phone_menu_messagingButton,
#phone_menu_settingsButton {
	z-index: 203;
}

#phone .list-item.active {
	background: url(../images/phone/phone_button_bg_active.png) repeat-x;
}
 PHONE STATUS BAR 
*/
#status_phone {
	top: 0px;
	left: 0px;
	font-size: 21px;
	cursor: pointer;
	width: 324px;
	height: 48px;
	background: url(../images/common/phone-statusbar-bg.png) no-repeat;
	z-index: 1;
}

#status_phone_label {
	width: 100%;
	display: block;
	visibility: hidden;
}

#status_phone_label span {
	padding-left: 11px;
}
#phone_dialpad_number {
	width: 283px;
	height: 30px;
	position: absolute;
	left: 258px;
	top: 87px;
	text-align: center;
	font-size: 22px;
	padding: 10px 0 0 0;
	background: black;
	border: 1px solid #393939;
	border-radius: 3px;
}

#phone_dialpad_keypad {
	width: 282px;
	height: 200px;
	position: absolute;
	left: 259px;
	top: 141px;
}

#phone_dialpad_keypad div {
	font-size: 26px;
	text-align: center;
	line-height: 32px;
}
#phone_dialpad_keypad .left {
	left: 0px;
	width: 93px;
	height: 49px;
	border-left: 1px solid #393939;
	border-right: 1px solid #000;
	border-top: 1px solid #393939;
}

#phone_dialpad_keypad .center {
	left: 95px;
	width: 93px;
	height: 49px;
	border-top: 1px solid #393939;
	border-left: 1px solid #393939;
	border-right: 1px solid #000;
}

#phone_dialpad_keypad .right {
	left: 190px;
	width: 93px;
	height: 49px;
	border-left: 1px solid #393939;
	border-right: 1px solid #393939;
	border-top: 1px solid #393939;
}

#phone_dialpad_keypad_key4,#phone_dialpad_keypad_key5,#phone_dialpad_keypad_key6
	{
	top: 50px;
}

#phone_dialpad_keypad_key7,#phone_dialpad_keypad_key8,#phone_dialpad_keypad_key9
	{
	top: 100px;
}

#phone_dialpad_keypad_key0,#phone_dialpad_keypad_keyDiez,#phone_dialpad_keypad_keyStar
	{
	top: 150px;
	border-bottom: 1px solid #393939;
}

#phone_dialpad_keypad_key1 {
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

#phone_dialpad_keypad_key3 {
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

#phone_dialpad_keypad_keyStar {
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#phone_dialpad_keypad_keyDiez {
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#phone_dialpad_deleteButton {
	opacity: 0;
	cursor: pointer;
	width: 93px;
	height: 49px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	left: 554px;
	top: 291px;
	border: 1px solid #393939;
}

#phone_dialpad_deleteButton .ico {
	position: absolute;
	left: 34px;
	top: 15px;
}

#phone_dialpad_dialButton {
	cursor: pointer;
	border: 1px solid #393939;
	left: 661px;
	top: 241px;
	width: 128px;
	height: 49px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

#phone_dialpad_dialButton span {
	font-size: 18px;
	position: absolute;
	left: 14px;
	top: 14px;
}

#phone_dialpad_dialButton .ico {
	position: absolute;
	right: 14px;
	top: 11px;
}

#phone_dialpad_endButton {
	cursor: pointer;
	border: 1px solid #393939;
	left: 661px;
	top: 291px;
	width: 128px;
	height: 49px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#phone_dialpad_endButton span {
	font-size: 18px;
	position: absolute;
	left: 14px;
	top: 14px;
}

#phone_dialpad_endButton .ico {
	position: absolute;
	right: 9px;
	top: 16px;
}