/**
 * CSS for sdl aplications
 */
.ffw_list_menu {
	left: 440px;
	width: 158px;
	overflow: hidden;
}

.ffw_list_menu .control {
	z-index: 2000;
	text-align: center;
}

.ffw_list_menu .ffw-button {
	position: relative;
	z-index: 300;
	height: 49px;
	border-bottom: 1px solid #393939;
	line-height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

.ffw_list_menu .ffw-button span {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.ffw_list_menu .content {
	position: relative;
}

.ffw_list_menu .ffw-button.hidden {
	display: none;
}

.sdl-window {
	width: 800px;
	height: 480px;
	background-color: #000;
	z-index: 1;
}

/**
 * Important Class for SoftButtons Highlightening
 */
.isHighlighted{
	color: gold;
}

.isHighlighted .ico{
    border-style: solid;
    border-color: #FFA300 #F7DA9C;
    border-width: 1px;
}

.softButton .ico{
    width: 50px;
    height: 49px;
    -webkit-flex: 0 0 50px;
    float: left;
}

.softButton .right_text{
    padding-left: 5px !important;
}

.sdl-window .back-button {
	/*top: 80px;*/
	left: 5px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

.sdl-window .back-button .ico {
	margin-top: 13px;
	margin-left: 8px;
}

#info_apps_deviceList_view .deviceListLabel,.sdl-window .caption-text {
	/*top: 80px;*/
	left: 75px;
	width: 620px;
	background: rgb(29, 6, 6);
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 50px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
}

#info_apps_deviceList_view .progress{
    top: 175px;
    left: 254px;
    background: URL('../images/sdl/progress.gif') no-repeat;
    width: 300px;
    height: 200px;
}

#info_nonMedia {
	z-index: 1001;
}

#info_nonMedia .backButton {
	top: 80px;
	left: 20px;
}

#info_nonMedia .inner_content {
	left: 180px;
	top: 90px;
	width: 600px;
	height: 300px;
    overflow: hidden;
}

#info_nonMedia .app_title {
	width: 390px;
	padding: 15px;
	top: 1px;
	background-color: #393939;
}

#info_nonMedia .app_image {
	top: 60px;
}

#info_nonMedia .app_fields {
	left: 160px;
	top: 60px;
	width: 260px;
}

#info_nonMedia .app_fields .label {
	position: relative;
	border: 1px solid #393939;
	padding: 7px;
	margin-bottom: 5px;
}

#info_nonMedia .presets {
	top: 220px;
	width: 420px;
	height: 80px;
}

#info_nonMedia .presets .ffw-button {
	width: 82px;
	height: 38px;
	position: relative;
	float: left;
	line-height: 40px;
	border-bottom: 1px solid #393939;
	border-right: 1px solid #393939;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	text-align: center;
}

#info_nonMedia .presets .ffw-button .text{
    margin-left: 5px;
    width: 77px;
    position: absolute;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#info_nonMedia .app_image img {
	border: 1px solid #393939;
}

#sdl_options .list {
	width: 650px;
	height: 251px;
	border-radius: 2px;
	left: 75px;
	top: 51px;
}

/*#sdl_view_container .list-content,*/
#sdl_options .list-content {
	width: 590px;
}

#VRPopUp.move{
	left: 800px;
}

#VRPopUp span,#info_apps_deviceList_list .list-content span,#sdl_view_container .list-content span,#sdl_options .list-content span
	{
	margin-left: 15px;
	position: relative;
	text-overflow: ellipsis;
	width: 521px;
	overflow: hidden;
    float: left;
}

#sdl_options .list-content .ico {
    height: 49px;
    width: 49px;
    float: left;
    position: relative;
}

#info_nonMedia_options_submenu {
	z-index: 11000;
	width: 800px;
	height: 480px;
	background-color: black;
	top: 0px;
	left: 0px;
}

#sdl_media_presetButtons .preset-item>span {
	z-index: 202;
	display: block;
	position: absolute;
	left: 10px;
	width: 84px;
	height: 50px;
	font-size: 12px;
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
}

#sdl_view_container .preset-items {
/*	width: 468px; */
}

#sdl_view_container .main-preset-buttons-wraper .preset-item.a3,#sdl_view_container .main-preset-buttons-wraper .preset-item.a6
	{
	width: 155px;
}

#sdl_view_container .player_controllsV2 {

	top: 200px !important;
	height: 48px;
}

#sdl_view_container .player_controllsV2 .ffw-button {
/*	height: 48px;*/
}

#sdl_view_container .player_controllsV2 img {
/*	margin-top: -26px; */
}

/* ScrollableMessage */
#ScrollableMessage.ScrollableMessage {
	left: 0;
	top: 0;
	width: 800px;
	height: 480px;
	/*z-index: 1000;*/
	background: url(../images/media/bg.png) no-repeat;
}

#ScrollableMessage.active {
	opacity: 1;
	display: block;
}

#ScrollableMessage .backButton {
	top: 80px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

#ScrollableMessage .titleText {
	top: 80px;
	left: 75px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

#ScrollableMessage .scrollableText {
	position: absolute;
	width: 525px;
	height: 251px;
	border-radius: 2px;
	left: 200px;
	top: 154px;
	overflow: hidden;
}

#ScrollableMessage .scrollableText-content {
	border: none;
	width: 474px;
}

#ScrollableMessage .scrollableText-item {
	position: relative;
	width: 100%;
	height: 48px;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid #393939;
}

#ScrollableMessage .ffw_list_menu {
	top: 154px !important;
	left: 25px !important;
}

#ScrollableMessage .scrollableTextArea {
	margin: 0px;
	/*height: 251px;*/
	width: 469px;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	background-color: transparent;
	resize: none;
	line-height: 23px;
	position: absolute;
}

/* SDL Slider */
.slider-header {
	top: 167px;
	left: 145px;
	width: 480px;
	background: #393939;
	line-height: 50px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.slider-footer {
	top: 325px;
	left: 145px;
	width: 480px;
	background: #393939;
	line-height: 50px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#slider_view .okButton{
    top: 379px;
    left: 364px;
    width: 54px;
    height: 17px;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 10px;
}

#slider_view .sliderControl {
	width: 600px;
	left: 100px;
	top: 250px;
	text-align: center;
}

#slider_view .control {
	width: 58px;
	height: 38px;
	border: 1px solid #393939;
	position: relative;
	display: inline-block;
}

#slider_view .ledContainer {
	position: relative;
	display: inline-block;
	border: 1px solid #393939;
	height: 38px;
}

#slider_view .control.minus .ico {
	top: 19px;
	left: 20px;
	position: absolute;
}

#slider_view .control.plus .ico {
	top: 12px;
	left: 20px;
	position: absolute;
}

#slider_view .led {
	width: 12px;
	height: 40px;
	background: url("../images/common/seat-act-led.png") no-repeat;
	position: relative !important;
	background-position: -4px 0;
	display: inline-block;
}

#slider_view .led-inactive {
	background: url("../images/common/seat-inact-led.png") no-repeat;
	background-position: 3px 8px;
	width: 12px;
	height: 40px;
	position: relative !important;
	display: inline-block;
}

/* 	SDL Perform Interaction Choise,
	SDL TBT Turn List */
#tbtTurnListView .list,
#perform_interaction_view .list,
#vr_help_list_view .list {
	position: absolute;
	width: 650px;
	height: 251px;
	border-radius: 2px;
	left: 75px;
	top: 154px;
}

#tbtTurnListView .list span,
#perform_interaction_view .list span,
#vr_help_list_view .list span{
	margin-left: 15px;
}

#tbtTurnListView .list-content,
#perform_interaction_view .list-content,
#vr_help_list_view .list-content {
	width: 578px;
}

#perform_interaction_view input{
    width: 720px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 2px;
    background: rgba(119, 119, 119, 0.42);
    cursor: pointer;
    font-size: 32px;
    color: #FFF;
    top: 80px;
    left: 65px;
    position: absolute;
}
#perform_interaction_view .listWrapper{
    top: 140px;
    width: 750px;
    height: 275px;
    left: 25px;
}

#perform_interaction_view .naviChoises .ffw-button{
    width: 110px;
    height: 110px;
    margin: 20px;
    float: left;
    position: relative;
    border: 1px solid #333;
    border-radius: 2px;
    background-repeat: repeat;
}

#sdl_view_container .cd_logo {
	position: absolute;
	top: 90px;
	right: 10px;
	-webkit-border-radius: 2px;
	width: 109px;
	height: 109px;
}

#sdl_view_container .cd_logoV2 {
	position: absolute;
	top: 70px;
	right: 10px;
	-webkit-border-radius: 2px;
	width: 109px;
	height: 109px;
}

#sdl_view_container .timeV2 {
	top: 155px;
}

#sdl_view_container .textLimit {
	width: 460px;
	text-overflow: ellipsis;
	overflow: hidden;
}

#VRButton.VRButton {
	background: url(../images/home/controlButtons/vr.png) no-repeat;
	width: 89px;
	height: 90px;
	left: 1024px;;
	top: 2px;
	-webkit-transition: 0.2s;
}

#VRButton.pressed {
	background: url(../images/home/controlButtons/vr_pressed.png) no-repeat;
}

#vehicleInfoButton.vehicleInfoButton {
	width: 117px;
	height: 48px;
	left: 1059px;
	top: 206px;
	text-align: center;
	line-height: 48px;
}

#tbtClientStateButton.tbtClientStateButton {
	width: 158px;
	height: 48px;
	left: 865px;
	top: 418px;
	text-align: center;
	line-height: 48px;
}

#exitApp.exitApp {
	width: 135px;
	height: 48px;
	left: 1043px;
	top: 418px;
	text-align: center;
	line-height: 48px;
}

#exitAppView,#tbtClientStateView,#VehicleInfo,#systemRequestView {
	opacity: 0;
	left: 50px;
	width: 700px;
	height: 340px;
	background-color: black;
	z-index: 2;
	border-radius: 10PX;
	top: 70px;
	-webkit-transition: opacity 1s ease-in-out;
	display: none;
	border: 1px solid white;
}

#exitAppView .exitAppViewLabel,#systemRequestView .systemRequestViewLabel, #tbtClientStateView .tbtClientStateLabel,#VehicleInfo .vehicleInfoLabel
	{
	top: 10px;
	width: 600px;
	left: 35px;
	height: 20px;
	padding: 15px;
	background: #393939;
}

#exitAppView.active,#systemRequestView.active,#tbtClientStateView.active,#VehicleInfo.active {
	opacity: 1;
	display: block;
}

#exitAppView .exitAppViewTitle, #systemRequestView .systemRequestViewTitle, #tbtClientStateView .tbtClientState,#VehicleInfo .prndl
	{
	top: 70px;
	width: 600px;
	left: 40px;
	height: 20px;
	padding: 10px;
	background: #535353;
}

#exitAppView .exitAppViewSelect, #systemRequestView .systemRequestViewSelect, #tbtClientStateView .tbtClientStateSelect,#VehicleInfo .prndlSelect
	{
	top: 125px;
	position: absolute;
	width: 150px;
	left: 275px;
	height: 40px;
	color: white;
	background: #393939;
}

#exitAppView .exitAppViewSelect option,#tbtClientStateView .tbtClientStateSelect option,#VehicleInfo .prndlSelect option
	{
	background: #393939;
}

#VehicleInfo .odometrTitle{
    top: 180px;
    width: 290px;
    left: 360px;
    height: 20px;
    padding: 10px;
    background: #535353;
}

#VehicleInfo .odometrInput{
    width: 265px;
    position: absolute;
    top: 242px;
    left: 373px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 2px;
    background: rgba(119, 119, 119, 0.42);
    cursor: pointer;
    font-size: 32px;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
}

#VehicleInfo .ecu1Title {
	top: 180px;
	width: 290px;
	left: 30px;
	height: 20px;
	padding: 10px;
	background: #535353;
}

#VehicleInfo .ecu1 {
	top: 233px;
	width: 80px;
	left: 65px;
	height: 20px;
	padding: 10px;
}

#VehicleInfo .ecu2 {
	top: 265px;
	width: 80px;
	left: 65px;
	height: 20px;
	padding: 10px;
}

#VehicleInfo .ecu1Data {
	top: 233px;
	width: 155px;
	left: 155px;
	height: 20px;
	padding: 10px;
}

#VehicleInfo .ecu2Data {
	top: 265px;
	width: 155px;
	left: 155px;
	height: 20px;
	padding: 10px;
}
.PopUp{
    left: 200px;
    width: 400px;
    height: 245px;
    z-index: 2;
    top: 110px;
    -webkit-transition: opacity 1s ease-in-out;
    background-color: black;
    border: #A6A6A6 solid 2px;
    border-radius: 6px;
}

.PopUp .text{
    top: 41px;
    left: 5px;
    width: 390px;
    height: 120px;
    line-height: 20px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.PopUp .OkButton{
    top: 190px;
    left: 5px;
    width: 190px;
    border: 1px solid #393939;
}

.PopUp .OkButton span{
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    margin-left: 82px;
}

.PopUp .CancelButton{
    top: 190px;
    left: 205px;
    width: 190px;
    border: 1px solid #393939;
}

.PopUp .CancelButton span{
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    margin-left: 65px;
}

/* Alert, AudioPassThruPopUp popup*/
#AlertManeuverPopUp.AlertManeuverPopUp,#AudioPassThruPopUp.AudioPassThruPopUp,#AlertPopUp.AlertPopUp
	{
	opacity: 0;
	left: 200px;
	width: 400px;
	height: 245px;
	z-index: 2;
	top: 110px;
	-webkit-transition: opacity 1s ease-in-out;
	background-color: black;
	border: #A6A6A6 solid 2px;
	border-radius: 6px;
	display: none;
}

#AlertManeuverPopUp .applicationName,#AudioPassThruPopUp .applicationName,#AlertPopUp .applicationName
	{
	width: 380px;
	left: 10px;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#AlertPopUp .alertPopUpImage {
	width: 83px;
	height: 74px;
	background: url(../images/sdl/Warning.png) no-repeat;
	top: 45px;
	left: 10px;
}

#AlertPopUp .progressIndicator {
    width: 50px;
    height: 50px;
    background: url(../images/sdl/progressindicator.gif) no-repeat;
    top: 0px;
    background-size: contain;
    left: 0px;
}

#AudioPassThruPopUp .audioPassThruImage {
	width: 83px;
	height: 74px;
	background: url(../images/home/controlButtons/vrImage.png) no-repeat;
	top: 45px;
	left: 25px;
}

#AudioPassThruPopUp .message1,#AlertPopUp .message1 {
	top: 37px;
	left: 105px;
	width: 285px;
	height: 30px;
	text-align: center;
	font-size: 23px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#AudioPassThruPopUp .message2,#AlertPopUp .message2 {
	top: 70px;
	left: 105px;
	width: 285px;
	height: 28px;
	text-align: center;
	font-size: 23px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#AudioPassThruPopUp .message3,#AlertPopUp .message3 {
	top: 100px;
	left: 105px;
	width: 285px;
	height: 28px;
	text-align: center;
	font-size: 23px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#AlertManeuverPopUp.AlertManeuverActive,#AudioPassThruPopUp.AudioPassThruActive,#AlertPopUp.AlertActive
	{
	opacity: 1;
	display: block;
}

#baseNavigation .softButton,#AlertManeuverPopUp .softButton,#AudioPassThruPopUp .softButton,#AlertPopUp .softButton
	{
	border: 1px solid #393939;
	border-radius: 3px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	float: left;
	margin: 10px;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
}

#baseNavigation .naviOptionsBtn{
    border: 1px solid #393939;
    border-radius: 3px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    top: 283px;
    right: 6px;
    width: 105px;
    position: absolute;
}

#AlertManeuverPopUp .closeButton {
	width: 170px;
	top: 180px;
	left: 110px;
}

#AlertPopUp .alertSoftButtons {
	margin-left: 8px;
	top: 120px;
	width: 386px;
}

#AlertManeuverPopUp .one,#softButton0.one {
	margin-top: 42px;
	width: 362px;
}

#softButton0.two {
	margin-top: 42px;
	width: 170px;
}

#softButton1.two {
	margin-top: 42px;
	width: 170px;
}

#softButton0.three {
	width: 170px;
}

#AudioPassThruPopUp .buttonDone,#softButton1.three {
	width: 170px;
}

#AudioPassThruPopUp .buttonCancel,#softButton2.three {
	width: 362px;
}

#softButton0.four {
	width: 170px;
}

#softButton1.four {
	width: 170px;
}

#softButton2.four {
	width: 170px;
}

#softButton3.four {
	width: 170px;
}

#AudioPassThruPopUp .buttonRetry {
	top: 120px;
	width: 175px;
}

#AudioPassThruPopUp .buttonDone {
	top: 120px;
	width: 175px;
}

#AudioPassThruPopUp .buttonCancel {
	top: 120px;
	width: 372px;
}

#info_leftMenu_sdl {
	font-size: 18px;
	line-height: 48px;
}

#info_leftMenu_sdl img {
	float: left;
}

#info_leftMenu_sdl span {
	float: left;
	position: relative;
	width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	left: 0;
}

/* TurnByTurnView */
#TurnByTurnView.TurnByTurnView {
	top: 48px;
	height: 384px;
	left: 153px;
	width: 647px;
    background: none;
}

#TurnByTurnView .caption-text {
	left: 5px;
	width: 607px;
	top: 15px;
}

#TurnByTurnView .label {
    overflow: hidden;
}

#TurnByTurnView .totalDistanceLabel {
	height: 20px;
	background: #393939;
	padding: 15px;
	left: 5px;
	top: 80px;
	width: 170px;
}

#TurnByTurnView .etaLabel {
	height: 20px;
	background: #393939;
	padding: 15px;
	left: 206px;
	top: 80px;
	width: 170px;
}

#TurnByTurnView .turnList {
	left: 5px;
	top: 145px;
	width: 379px;
	padding: 10px;
	text-align: center;
}

#TurnByTurnView .ffw_list_menu {
	height: 198px;
	top: 200px;
	left: 5px;
	width: 401px;
	border: none;
}

#TurnByTurnView .ffw-button {
	border-radius: 3px;
	border: 1px solid #393939;
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
}


#TurnByTurnView .ffw-button .text {
    margin: auto;
}

#TurnByTurnView .turnList .arrow-ico {
	margin-top: -13px;
}

#turnList img {
	margin-top: -10px;
}

#TurnByTurnView .homeScreen {
	left: 440px;
	top: 312px;
	padding: 0 0 0 5px;
	width: 195px;
}

#TurnByTurnView .homeScreen span {
	width: 140px;
}

#TurnByTurnView .homeScreen>img {
	float: left;
	width: 50px;
	height: 50px;
}

#TurnByTurnView .homeScreen>span {
	float: left;
	line-height: 50px;
	padding-left: 5px;
}

#TurnByTurnView .navigationText2 {
	left: 440px;
	top: 268px;
	width: 182px;
	padding: 10px;
	height: 20px;
	background: #393939;
}

#TurnByTurnView .turnIcon,
#TurnByTurnView .nextTurnIcon {
    border: 1px solid #222;
    left: 540px;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#TurnByTurnView .distanceToManeuver{
    top: 80px;
    left: 419px;
    background: #393939;
    padding: 15px;
}

#TurnByTurnView .distanceToManeuverScale{
    top: 144px;
    left: 419px;
    background: #393939;
    padding: 15px;
}

#TurnByTurnView .timeToDestination{
    top: 207px;
    left: 419px;
    background: #393939;
    padding: 15px;
}

#TurnByTurnView .turnIcon {
    top: 65px;
}

#TurnByTurnView .nextTurnIcon {
    top: 166px;
}

#tbtTurnListList .list-content .label>img {
	width: 50px;
	height: 50px;
	float: left;
}

#info_apps_list .ffw-button {
	overflow: hidden;
	text-overflow: ellipsis;
}

#sdl_view_container {
	z-index: 501;
}

#sdl_view_container .title {
	top: 79px;
	font-size: 38px;
	left: 7px;
	width: 340px;
	height: 44px;
}

#sdl_view_container .album {
	top: 123px;
	font-size: 26px;
	left: 10px;
	width: 330px;
	height: 32px;
}

#sdl_view_container .artist {
	top: 155px;
	font-size: 26px;
	left: 10px;
	width: 330px;
	height: 32px;
}

#sdl_view_container .player_controlls {
	top: 292px;
	left: 165px;
}

/* SDL Slider*/
#media_sdl_slider_view {
	width: 800px;
	height: 480px;
	z-index: 1000;
	background: url(../images/media/bg.png) no-repeat;
}

#media_sdl_slider_view .backButton {
	top: 80px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

#media_sdl_slider_view .initialText {
	top: 80px;
	left: 75px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

/* SDL Perform Interaction Choise */
#media_app_perform_interaction_view {
	width: 800px;
	height: 480px;
	z-index: 1000;
	background: url(../images/media/bg.png) no-repeat;
}

#media_app_perform_interaction_view .backButton {
	top: 80px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

#media_app_perform_interaction_view .list {
	position: absolute;
	width: 629px;
	height: 251px;
	border-radius: 2px;
	left: 100px;
	top: 154px;
}

#media_app_perform_interaction_view .initialText {
	top: 80px;
	left: 75px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

#media_app_perform_interaction_view .list-content {
	width: 578px;
}

/* SDL Media Options */
#media_app_options_view {
	width: 800px;
	height: 480px;
	z-index: 2002;
	background: url(../images/media/bg.png) no-repeat;
}

#media_app_options_view .backButton {
	top: 80px;
	width: 48px;
	height: 48px;
	border: 1px solid #333;
	border-radius: 2px;
}

#media_app_options_view .list {
	position: absolute;
	width: 650px;
	height: 251px;
	border-radius: 2px;
	left: 75px;
	top: 154px;
}

#media_app_options_view .optionsLabel {
	top: 80px;
	left: 75px;
	width: 620px;
	height: 20px;
	background: #393939;
	padding: 15px;
}

#media_app_options_view .list-content {
	width: 578px;
}
